[2021-03-26 19:21] rosibaj opened #1 "Charts/Aggs on Search Interface"
https://wiki.oicr.on.ca/display/OV/CanCoGen+Virus+Seq+Data+Portal
![image](https://user-images.githubusercontent.com/15824252/112682805-01dcc580-8e47-11eb-948d-6ef482879d96.png)

[2021-03-26 20:23] rosibaj opened #2 "Connect Keycloak email interfacing"
- hooking up to some email and test the email verification flow
- make sure users can confirm email and get registration emails

[2021-03-31 17:08] rosibaj opened #3 "UI Styling Feedback: Search Page"
# Header
- [x] Change “About VirusSeq Portal” to “About VirusSeq Data Portal”
- [x] Change “Explore COVID-19 Data” to “Explore VirusSeq Data”
- [x] Make the fonts for both bold

# Footer
- [x] Make the text not bold
- [x] Make the Genome Canada logo bigger. Note for @caravinci when you make this larger can you decrease the top and bottom padding just around this logo, so the footer doesn't get muc

[2021-03-31 18:33] rosibaj opened #4 "Profile Page + logout Dropdown"
- [ ] Once a user logs in, profile icon shows in top rioght
- [ ] When clicked profile has link to `Profile` page and Logout option.
- [ ] Slight restyle for virus-seq:
Zeplin for Profile page: https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/6064b9b3ad796803a52f8098

[2021-03-31 18:57] rosibaj opened #5 "Add authorized login to portal"
- [x] Add login button to portal.
- [x] When user logs in and gets navigated to the `Submission Dashboard` page.  Right now, this page can just be blank (or put some template text or something) with the expected header/footer.
- [x] `Dashboard` link appears in header and is selected for the user.

[2021-03-31 19:10] rosibaj opened #6 "Data Submission UI: My Dashboard"
- [x] No submissions state:
Zeplin Link:  https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/60709965780d473c6a005059
![image](https://user-images.githubusercontent.com/15824252/114222688-df65a480-993c-11eb-887a-76b4a14b5e9a.png)
- [x] User has submissions state:
- Zeplin Link: https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/60661ca311c5a192df146d9f
![image](https://user-i

[2021-03-31 19:26] rosibaj opened #7 "Data Submission: Start a New Submission"
- [x] Upload Files: started submission with file error: https://zpl.io/aNNGENv
The submit button should be enabled iif there is one TSV file and at least one FASTA file.
- [x] valid submission ready: https://zpl.io/amPzLrm
- [x] Submission loader: https://zpl.io/2p8QRLN
- [x] Validation error: https://zpl.io/V0vnrdm

[2021-04-01 14:18] #2 closed

[2021-04-01 14:20] rosibaj opened #8 "Transfer to New Domain"
-update configs to new domian
- blocked by jenkins

[2021-04-01 14:21] rosibaj opened #9 "Theming/Styling Keycloak pages"
- [x] Update the theme to design: https://zpl.io/brqjAy5
- [x]  Add common password restrictions [at least 8 characters, one number one symbol]
- [x] Add terms and conditions page into the flow with permission.
- [x] Update the email copy (@rosibaj please provide copy for this) on account verification.
- [x] Figure out how to add the Keycloak theme to the production deployment
- [x] Change "VirusS

[2021-04-01 14:46] rosibaj opened #10 "API: Upload files - Scheama Validation"
# Outstanding and Needed
- finalized song schema
- finalized TSV schema that maps to analysis schema
- finalized TSV that the user will submit

# Scope of this ticket
- [ ] Implement TSV validation on submission

## Expected Testable Outcome
- [x] Can use the upload endpoint with a BAD file and see it rejected with an error
- [ ] Can use the upload endpoint with a GOOD file and get a submission id

[2021-04-01 15:01] rosibaj opened #11 "API: Upload Errors - Identify, Map, and Implement"
- [ ] Identify all possible error cases in wiki.
 Categorize and map to general errors.  https://wiki.oicr.on.ca/display/OV/CanCoGen+Virus+Seq+Data+Portal#CanCoGenVirusSeqDataPortal-4.3.6ErrorStates
---- Upload File errors
---- Payload Generation Errors
---- Song and Dance Submission Errors
----
- [ ] After identifying each case, implement the error casing.

# Expected testable Outcomes
From the U

[2021-04-03 00:47] caravinci commented on #5
These changes have been deployed. Notes:
- The login button is available in the footer as discussed, although its position (3rd element) can easily be changed if necessary; and it disappears once a user logs in.
- "Dashboard"'s contents are a 1:1 copy of the "submitter login" page, but it is a different route, as visible in the URL and the highlighted tab.

[2021-04-03 00:52] caravinci commented on #4
Added this functionality, and made changes to the icons as instructed.
May have to implement the "Study Access" section of the user profile in a separate ticket.

[2021-04-05 13:30] rosibaj commented on #4
Study access was not in scope of this ticket. i will create a separate ticket for that.

[2021-04-05 13:52] #8 closed

[2021-04-05 14:43] rosibaj commented on #1
Feedback April 05, 2021:
- [ ]  Scroll issue with charts now: https://drive.google.com/file/d/1HJXPMb-vn0FGLbqvuwgHWmyGQIuBYeJ3/view

[2021-04-05 15:18] caravinci commented on #1
Thanks for the video, @rosibaj. I see now the issue you meant, which I cannot replicate locally in any of my browsers (I'm on a Mac). Will have to run some tests on other devices in order to figure out what the problem may be.
Of note, in your video, the scrollbar is still there, even as the charts are not (i.e. the issue is there before I've made any changes to the explore page). Rather puzzling.

[2021-04-05 18:54] caravinci commented on #1
Seeing the problem is only evident when the scrollbars are always displayed if available (in contrast with MacOS autohiding scrollbars) and also using a Linux + Firefox setup to confirm, I'm noticing the same issue is presented in the latest DMS-UI release when the screen is lower than approximately 1155px (the specific number could be related to ontological details like screen resolution, etc. so

[2021-04-07 19:57] caravinci commented on #1
Verified fix works on Mac Chrome, Safari, Firefox, and then on Linux Chrome and Firefox. 🤞

The scrolling issues seem to be mostly resolved, and i've replicated the changes into DMS-UI with PR https://github.com/overture-stack/dms-ui/pull/98.

[2021-04-09 14:43] kcullion commented on #3
If you switch the font to source-sans-pro - that may take care of some sizing and fonts looking too bold? If not, you can make the field labels 14px

[2021-04-09 17:56] rosibaj commented on #3
@kcullion `Download link to docs - @rosibaj is there a page explaining how to download data with a file manifest? I couldn't find this. Also add a period to this sentence.`  No there is no page for this , and might not be how this particular download works.  need more info

[2021-04-09 18:02] rosibaj commented on #3
Re: -the "request an account" link could link right to the CanCOGen contact form, as well as the footer "contact us" link: @rosibaj Thoughts? https://www.genomecanada.ca/en/cancogen/contact-us

This flow is not in scope of this ticket

[2021-04-09 18:03] caravinci commented on #3
This is carryover from the DMS-UI spec. The document it's meant to be pointed to hasn't been created yet, but I hear it'll be done next week. I can remove this bit meanwhile, if that makes things easier.

[2021-04-09 18:04] rosibaj commented on #3
yes please @caravinci that will work best for now!

[2021-04-09 18:09] caravinci commented on #3
Side question: Would it beneficial if I set a Netlify for this project, so we can do iteration more easily? (given the release/deployment hurdles). I have almost all this stuff done by now, yet I reckon a feedback loop is likely necessary here.
Thoughts?

[2021-04-09 18:13] rosibaj commented on #1
@caravinci fix looks great! Imm not able to recreate at all!

[2021-04-09 18:13] #1 closed

[2021-04-09 18:16] rosibaj commented on #3
@caravinci up to you.  if you can do it quickly, sure!

[2021-04-09 18:40] #4 closed

[2021-04-09 18:42] rosibaj commented on #5
Feedback for the logout path - once i logout i should be logged out of Keycloak as well.

![image](https://user-images.githubusercontent.com/15824252/114226501-a24fe100-9941-11eb-853f-07f74553863e.png)

- there is a url the browser can navigate to in keycloak to log you out of keycloak as well
- https://keycloak.virusseq-dataportal.ca/auth/realms/virusseq/protocol/openid-connect/logout?redirect_ur

[2021-04-09 21:46] caravinci commented on #3
Prepping deployment... NPM takes forever whenever we publish a new version of Arranger.
This should address all the items, but of course I may have to release a new version if there's any additional feedback. For instance, the style for pie charts' tooltips is a temporary solution, and I'm working on formatting the age ranges in a more human-readable fashion.

[2021-04-12 14:41] kcullion commented on #3
Thanks @caravinci ..I have some more feedback. @rosibaj please review

- [ ] Facet panel:
![image](https://user-images.githubusercontent.com/18424138/114412491-250fb080-9b7b-11eb-8a1d-654a6d9f2fbd.png)

- [ ] Charts question. Rosi, will they all be eventually plotting viral genomes instead of files? My understanding is that there could be multiple files per one viral genome. But I notice the bar c

[2021-04-12 18:41] caravinci commented on #3
Thanks for the feedback, @kcullion
Seems the tooltip for the column chart was meant to be the one for a variants chart that is currently hidden. However, I did apply some of the changes you suggest:
![image.png](https://images.zenhubusercontent.com/5defce3f99bcf0b1b8a98d24/2e61fdbe-27aa-484c-b472-b473643c856f)

As mentioned in my latest comment, I'm working on making the age one be a bit more read

[2021-04-12 18:44] kcullion commented on #3
Thanks @caravinci ..let's wait for @rosibaj when she's back as she may have plans for these charts.

[2021-04-12 18:51] caravinci commented on #3
Yep. I'm only acting thus far on the ones I know can be fixed (checked in your list).

[2021-04-13 14:18] rosibaj commented on #3
Re:

I already think i told Justin just to say FILES for this chart instead of viral genomes. right now genomes:files is 1:1 but i dont know if that ratio will be maintained.

- [ ] the box is working as expected, we don't want to hide any portion of the query the user has selected or make them resize this portion.. Change the default height BEFORE selection to the height when a query is selected

[2021-04-13 14:24] caravinci commented on #5
Logout redirection should work now as specified.

[2021-04-13 14:50] rosibaj commented on #5
tested April 12 2021. lgtm now!

[2021-04-13 14:50] #5 closed

[2021-04-13 14:50] caravinci commented on #3
Seems I had misread the request to literally "fix the height for the query bar" as "give it a fixed height".
Now I understand you want a consistent minimum height. lol
Apologies.

I've applied all the aforementioned changes, and will be deploying them soon.

[2021-04-13 14:53] caravinci commented on #3
Nah Kim... My head is just way toooo literal sometimes. Either way, "I fixed it now" 😉

[2021-04-13 15:24] caravinci commented on #3
Changes deployed. Please let me know if I missed anything, @kcullion @rosibaj

[2021-04-13 15:49] rosibaj commented on #3
lgtm for now!

[2021-04-13 15:49] #3 closed

[2021-04-13 15:50] rosibaj opened #12 "UI Feedback round 2"
## Search page
- [x] Scroll bar on dropdown needs to be removed (windows/Google Chrome)
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/d53f103b-d86c-431b-bbb4-ddd7c29e97ba)
- [x]  make the numbers font size 12
![image](https://user-images.githubusercontent.com/15824252/114571135-6a4be500-9c44-11eb-8265-500592ea73e8.png)
- [x] remove # files in facet
- [x] Footer link or

[2021-04-13 21:16] #11 closed

[2021-04-14 15:30] christinayung opened #13 "Modify Download button"
![image.png](https://images.zenhubusercontent.com/5bbe9c22307bc60241e3aa93/56479112-c05b-4b36-95f5-92ea1cd98f18)

- [ ] Change "File Table" to "Metadata Table" - downloads the metadata tsv
- [ ] Change "File Manifest" to "Consensus Seq" - downloads the fasta file (GZip/XZ)

[2021-04-15 13:39] rosibaj opened #14 "Schema and field updates"
We have a new Song Schema: https://github.com/cancogen-virus-seq/metadata-schemas/blob/main/schemas/consensus_sequence.json
- [x] Make sure its updated in prod cancogen song:
- [ ] Update the Maestro mapping to reflect new fields
- [ ] Update the Arranger project to read the new indexed fields, and arranger configs.
- - Default table columns to show are marked with "Y" in column C in this doc: htt

[2021-04-15 14:06] rosibaj opened #15 "Study level Permissions"
- define study level polices
- change the song.score configs to know the format of the study level policies
- update MUSE to look at study-permissions instead of egoid
- - If a submitter submits something for a study they don't have permissions for, then reject the submission and ask them to remove those payloads
- -

[2021-04-15 14:09] rosibaj opened #16 "Update Keycloak security"

[2021-04-15 14:38] rosibaj opened #17 "Google Analytics"
- basic implementation
- some components
- remove dev IPS in the filter.

[2021-04-15 14:39] rosibaj opened #18 "Policy Addition"
- [x] Policy design uses consistent styles with the login intermediate page.

- [x] Add link to this page from the footer

Zeplin: https://zpl.io/ad39WnL

[2021-04-15 14:42] #16 closed

[2021-04-15 14:49] rosibaj opened #19 "Profile Page Updates"
- copy JWT not API Key
- when you copy, refresh he JWT

**See Zeplin for changes**: https://zpl.io/addyQoR
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/a370b049-6724-4e7c-b998-93bb753d0595)

- [x] UI bug - the user dropdown is outside of the browser width, causing a horizontal scrollbar to appear on the page.
![image](https://user-images.githubusercontent.com/18424138

[2021-04-15 15:07] rosibaj opened #20 "Submission Details Page"
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/a9e3514f-2122-4250-ab92-02c2f308fd4c)

[2021-04-15 15:12] rosibaj opened #21 "Populate production data"
Please update the virus-seq portal with the first public data set

[2021-04-15 15:38] rosibaj opened #22 "UI/BE: Send to Data Curation"
- [ ] Add UI flow for users to send to curation
- [ ] Once submitter sends to curation, add to a curation bucket.  the TSV/FASTA files can be named based on `study_id/egoid` to identify the attempted submission
- [ ] When objects are added to the bucket, notify the data curation team.

OPTION 1: use collab, deploy KAFKA  write to KAFKA queue, and read send email to helpdesk.
OPTION 2: use aws, pip

[2021-04-16 16:07] rosibaj commented on #7
April 16 2021 Feedback (morning round):

- [ ] fix color of metadata file icon
![image](https://user-images.githubusercontent.com/15824252/115051717-20186d00-9eab-11eb-9d4c-84f5cd894f51.png)
- [ ] When i have only one metadata file, i cannot use the delte. i have to use clear all. i should be able to delete this.  This does not happen for FASTA files.
![image](https://user-images.githubusercontent

[2021-04-16 17:30] caravinci commented on #7
Not quite sure why the .tsv are not showing blue for you 🤔
They're fairly different colours on my screen.
<img width="580" alt="Screenshot 2021-04-16 at 12 47 41" src="https://user-images.githubusercontent.com/2107110/115057485-20683680-9eb2-11eb-9031-fd97387b9e46.png">

---

Cannot reproduce in any of my browsers. May have to jump on a call to troubleshoot this one.

---

The other changes, plus

[2021-04-16 18:21] rosibaj commented on #7
- still experiencing delete issue and tsv file issue (Windows 10/Chrome)
- still experiencing a not full width error as well
![image](https://user-images.githubusercontent.com/15824252/115067498-04b75d00-9ebf-11eb-866f-13264fd4c486.png)

[2021-04-20 05:29] caravinci commented on #7
Deployed a new version. Hopefully these issues will go away now.

[2021-04-20 05:31] caravinci commented on #20
Deployed new version. Still pending: sorting and pagination. Ignored "retry" functionalities as instructed.
Not a 100% sure I've handled the error messaging according to spec... please let me know if I should change it.

[2021-04-20 05:32] caravinci commented on #6
Deployed new version. Still pending: sorting and pagination.

[2021-04-20 14:32] rosibaj commented on #7
Moving back to in progress as the issues mentioned above still exist
- can replicate in Windows/Chrome and Windows/Firefox

[2021-04-20 14:35] rosibaj commented on #6
new version looks good; will move back to in progress to review sorting and pagination when it is ready!

[2021-04-20 14:44] rosibaj commented on #20
A couple styling notes:

- [ ]
![image](https://user-images.githubusercontent.com/15824252/115414950-80b5eb80-a1c4-11eb-91db-42dda1a89135.png)

[2021-04-20 14:49] rosibaj opened #23 "Update Styling - Submission Error Message and Drag and Drop"
- [x] can work the same, but adda  drag n drop styling indicator for users
- [x] Style the error message.  ignore the part below the line for now as that is still being confirmed.
Zeplin:  https://zpl.io/2j3PggO
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/f16c3163-a4b5-4724-9204-a3254cd10f75)

[2021-04-20 14:49] #10 closed

[2021-04-20 20:14] rosibaj commented on #7
Tested April 20, 2021
- icons are correct color
- i can now delete tsv files as desired, no issues.

- can start a valid and invalid submission, with the expected flows.

[2021-04-20 20:14] #7 closed

[2021-04-20 20:15] rosibaj commented on #20
Tested April 20, 2021 afternoon
- table appears as expected, with the expected daa
- status update in the table
- spacing has been fixed.
lgtm thank you @caravinci

[2021-04-20 20:15] #20 closed

[2021-04-21 17:37] rosibaj opened #25 "Fix Registration Flows"
- [x]  Connect the Registration button.  For testing, this whole flow should be correct:
 https://wiki.oicr.on.ca/display/OV/CanCoGen+Virus+Seq+Data+Portal#CanCoGenVirusSeqDataPortal-3.0StudyandUserRegistration
- [x] When a user logs in, and does not have permissions, the submission dashboard should show this no permission state (ie. has no scopes in JWT).
dashboard: https://zpl.io/29mPXBp
profile

[2021-04-21 17:41] andricDu commented on #9
@yalturmes This is the current devops related problem we need to solve:

We have this git repo here: https://github.com/cancogen-virus-seq/cancogen-keycloak-theme

We need to mount cancogen folder in that git repo as `/opt/jboss/keycloak/themes/keycloak` inside the container/pod running keycloak.

We use the bitnami helm chart for keycloak: https://github.com/bitnami/charts/tree/master/bitnami/key

[2021-04-21 22:20] christinayung commented on #14
The Arranger config JSONs are here: https://github.com/cancogen-virus-seq/metadata-schemas/tree/main/arranger_config.  Currently, project ID and index name are both "file9", and will need to be renamed when applying to VirusSeq Portal.  Issues I couldn't work out:
* Could not make `donors.specimens.submitter_specimen_id` a searchable ID field even after enabling quick search.
* Could not make `hos

[2021-04-22 14:11] lindaxiang commented on #14
Maestro ES-mapping is here: https://github.com/cancogen-virus-seq/infra/tree/main/helm/maestro/prod

[2021-04-22 15:55] lepsalex commented on #22
had a good discussion with Jared re: using OpenStack services to accomplish this task, he will look into feasibility and review with me, will move on to other tickets for now.

[2021-04-22 21:39] caravinci commented on #6
Sorting is complete. Reprioritising pagination for a different ticket as per Christina's instruction.

[2021-04-23 02:42] caravinci commented on #25
Made all the style changes (assumed scope), the access token field displays the current one and allows copying it.
However, since I still have to figure out how to generate a ones I've removed that button for now, yet will implement that feature as soon as clear from other higher priorities (along with refresh tokens).

[2021-04-23 13:25] rosibaj commented on #6
thanks @caravinci I will close this ticket now.

[2021-04-23 13:25] #6 closed

[2021-04-23 13:48] caravinci commented on #19
As most of these changes are being effected in #25, I think all that remains from this ticket is showing the studies a user has access to.

[2021-04-23 13:49] rosibaj commented on #25
@caravinci i assume you mean regenerate?  This should definitely work now! and looks great so i will close this ticket.

[2021-04-23 13:49] #25 closed

[2021-04-23 14:15] rosibaj commented on #23
looks great thank you @caravinci !

[2021-04-23 14:15] #23 closed

[2021-04-23 14:31] caravinci commented on #25
Yeah, I guess in this use case, a better word for generating a new token would be to "regenerate" it :+1:

[2021-04-23 14:40] caravinci commented on #12
Along with this ticket, will remove the "showing x-y of z files".
![image.png](https://images.zenhubusercontent.com/5defce3f99bcf0b1b8a98d24/35740594-2754-4641-9012-251a4922c8bd)

[2021-04-23 15:46] kcullion opened #28 "Homepage + Footer Updates"
Zeplin link: https://zpl.io/VYqrkrw

- [x] Since we don't have a chart, please revise the stats display. If we can make the banner a bit shorter, let's do so (as long as the researcher picture isn't cut off too much)
![image](https://user-images.githubusercontent.com/18424138/115896137-181b7880-a429-11eb-9ced-20ea5e6fedf3.png)

- [x] Add the COVID Cloud callout at the bottom.
External links open i

[2021-04-23 16:03] rosibaj commented on #19
@caravinci is there some blocker to showing the scopes the user has acces to?

[2021-04-23 16:06] kcullion opened #29 "About the Team page"
Zeplin: https://zpl.io/Vq3vKYl

- [x] Add "About the Team" item in top navbar
- [x] Build the team page. Content may change
- [x] The links are all external - open in a new window and are as follows:
![image](https://user-images.githubusercontent.com/18424138/115901537-561b9b00-a42f-11eb-867f-851f4882e560.png)

1. www.genomecanada.ca
2. www.canada.ca
3. https://www.genomecanada.ca/en/cancogen
4. h

[2021-04-23 16:06] rosibaj commented on #12
@caravinci that was a misunderstanding. This comes of unnecessarily moving too fast. If I had had time to offer the feedback correctly in a ticket we wouldn't be having this issue now.

![image](https://user-images.githubusercontent.com/15824252/115899028-4189d380-a42c-11eb-9a3d-280b37dacf75.png)

[2021-04-23 16:38] rosibaj commented on #13
@jaserud looks good, but can you `remove` the file manifest option? Moving back to in progress until this feedback is ready for review.

[2021-04-23 16:54] caravinci commented on #12
Apologies. I misunderstood what Christina said.

[2021-04-23 19:11] caravinci commented on #18
@rosibaj Can I bug you for the urls for the links?

[2021-04-23 19:26] rosibaj commented on #18
`https://www.go-fair.org/fair-principles` is correct; linkout to `info@virusseq-dataportal.ca` for the contact email.

[2021-04-23 19:47] andricDu commented on #29
https://portal.dev.cancogen.cancercollaboratory.org/team

[2021-04-23 20:10] kcullion commented on #29
@andricDu @caravinci  If there's time...some thing I noticed...

- [ ] Can you center the white container of content, it's not quite centered/

- [ ] can you style the links like the ones on homepage and portal...so same default and hover state? I'm seeing different colours
![image](https://user-images.githubusercontent.com/18424138/115923868-ecaa8500-a44c-11eb-8201-373404f82057.png)

- [ ] some l

[2021-04-23 20:57] akachru-github opened #32 "Add Download All and disable logic for download options"
- DOWNLOAD ALL will be in the header, a pill,  this will appear along the navigation bar on the landing page.
- Grey out other download options if no rows selected. Disable the dropdown, OR disable the options are both acceptable approaches.

[2021-04-23 22:07] christinayung commented on #14
Completed the Arranger configuration

[2021-04-23 23:06] caravinci commented on #29
Made all these changes. Deploying to Dev right now

[2021-04-23 23:36] caravinci commented on #18
Design implemented, and pushed for dev for visual feedback.
Awaiting final content changes, if any.

[2021-04-24 03:01] caravinci commented on #19
None whatsoever, just showing some progress so you could give feedback in a piecemeal basis.
The scopes are list now as per specification, and visible in Dev.

[2021-04-25 18:19] christinayung opened #33 "Update Policies, Home Page & Team Page with the latest text"
Policy Page Update: https://docs.google.com/document/d/1xHX7UGcPTv91cN9aNe4Y6-s7m7oE9TBuP-jpEGXWekE/edit?usp=sharing

[2021-04-25 23:43] caravinci commented on #32
Modified Arranger to allow disabling individual exporters on a piecemeal basis, if they require rows being selected.
Added the "Download All" at the end of the menu, as per Christina's input; still pending the final URL to be used upon release.

![image.png](https://images.zenhubusercontent.com/5defce3f99bcf0b1b8a98d24/627a5300-0361-4eac-bcb5-d4e2e2ec07bc)

Deployed to dev for initial testing of e

[2021-04-26 13:34] rosibaj commented on #18
- [ ] Space here
![image](https://user-images.githubusercontent.com/15824252/116090202-9e2a0000-a671-11eb-9f5b-d277f703810c.png)
- [ ] Some small text updates:
First paragraph:
[code]

later fix lab --> laboratories
[code]
Microbiology Laboratory and provincial public health laboratories across the country.
[code]

[2021-04-26 13:35] rosibaj commented on #18
- [ ] Space here
![image](https://user-images.githubusercontent.com/15824252/116090202-9e2a0000-a671-11eb-9f5b-d277f703810c.png)

[2021-04-26 13:37] rosibaj opened #34 "Homepage text updates"
- [x] Some small text updates:
First paragraph:
[code]

later fix lab --> laboratories
[code]

[code]

[2021-04-26 13:52] rosibaj commented on #19
looks good @caravinci !

[2021-04-26 13:52] #19 closed

[2021-04-26 13:54] rosibaj commented on #12
@caravinci looks great thanks for updates!

[2021-04-26 13:54] #12 closed

[2021-04-26 14:00] rosibaj commented on #28
looks great thank you @caravinci !

[2021-04-26 14:00] #28 closed

[2021-04-26 14:06] rosibaj commented on #29
Tested Apr 26:

-[ ]  links are still broken in last paragraph

![image](https://user-images.githubusercontent.com/15824252/116095892-cec06880-a676-11eb-8e82-5050154b9c2c.png)

- DNASTACK leading to https://portal.dev.cancogen.cancercollaboratory.org/www.dnastack.com
- GA4GH link leading t0 https://portal.dev.cancogen.cancercollaboratory.org/www.ga4gh.org

Moving back to in progress until this is

[2021-04-26 14:08] rosibaj commented on #34
ty @caravinci looks great!

[2021-04-26 14:08] #34 closed

[2021-04-26 14:19] rosibaj commented on #18
this looks good closing as future text update is in another ticket.

[2021-04-26 14:19] #18 closed

[2021-04-26 14:39] rosibaj commented on #13
@jaserud this looks good for the front-end so i will be closing this ticket.  Future feedback will be made as part of the API ticket or a new ticket.

lgtm thank you!

[2021-04-26 14:39] #13 closed

[2021-04-26 14:41] rosibaj commented on #9
confirmed last bullet & can see changes and themes in prod.  lgtm thank you @lepsalex @andricDu!!

[2021-04-26 14:41] #9 closed

[2021-04-26 14:50] rosibaj commented on #29
April 26 10:50 retested
- all links on the team page now navigate correctly.

ty lgtm @caravinci !

[2021-04-26 14:50] #29 closed

[2021-04-26 14:53] rosibaj commented on #32
@caravinci UI looks good for this for now - you are blocked by https://github.com/cancogen-virus-seq/roadmap/issues/10
- moving this to in-progress and `blocked` until we can get that link.

[2021-04-26 18:39] rosibaj commented on #33
Via slack:

Policies:
 `Data Submitters guidelines` --> `Data Submitters Guidelines`
 `Sensitive and or Identifiable Data` --> `Sensitive or Identifiable Data`

[2021-04-26 18:40] rosibaj commented on #33
looks great thank you @caravinci !

[2021-04-26 18:40] #33 closed

[2021-04-26 19:00] rosibaj opened #35 "Update Submission instructions"
On the submission UI Dashboard, these instructions are wrong:

![image](https://user-images.githubusercontent.com/15824252/116137082-1bb93480-a6a1-11eb-8e9c-63657af67bfd.png)

### Change the instructions to this blurb:

Virus metadata is submitted as a .tsv file.  Viral genome data must be submitted as a `.fasta` file. Up to 5000 samples can be submitted in a single submission, but note that the l

[2021-04-26 21:31] akachru-github commented on #21
Prod data updated, minus 13 problematic records, which will be uploaded separately.

[2021-04-26 21:31] #21 closed

[2021-04-26 21:38] #14 closed

[2021-04-26 21:38] #32 closed

[2021-04-26 22:23] rosibaj commented on #35
verified on prod:

![image](https://user-images.githubusercontent.com/15824252/116158359-87f56180-a6bc-11eb-8850-7f92357a6610.png)

[2021-04-26 22:41] caravinci commented on #35
Ooops. CopyPasta!

[2021-04-27 13:23] #35 closed

[2021-04-27 18:13] kcullion opened #37 "Homepage and team page wording change."
For transparency let's change the wording to this

`Genome Canada has also partnered with DNAstack to integrate VirusSeq data with their COVID Cloud Platform. COVID Cloud is a cloud-based platform that helps researchers find, visualize, and analyze genomics and other datasets related to COVID-19.`

in these two spots

- [x] homepage
![image](https://user-images.githubusercontent.com/18424138/11629

[2021-04-29 14:29] rosibaj commented on #15
- test user upload without system scope
- upload with a study scope

- test adding another scope (Song.study.READ) that does not apply to the virus-seq portal and ensure that scope is filtered

[2021-04-29 15:20] rosibaj opened #38 "User Addition UI"
- [ ] @kcullion talk with Rosi to design the study/user addition

[2021-05-05 17:32] rosibaj opened #39 "Report Authentication Error on Submission better"
- As user `rosi@oicr` I have access to the MUSE-KHSC-ON project.
- if i submit payloads for studies that i don't have access to (MUSE-UHTC-ON) , this is the error that i see from the UI
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/dc41c204-13b4-4405-a54b-e0a1d83bd81e)
- this is not informative to me. Looking in the response i do see this (below) that MUSE is correctly

[2021-05-05 18:28] rosibaj commented on #15
Tested May 05, 2021
- tested with a user with access to only one study. successfully uploaded for that study, but not other studies
- tested with a user with access to only one study. uploaded data for 2 studies in one submissions and the submission was correctly rejected,
- tested with a user with access to 2 studies.  was able to successfully upload for both studies in one submission
![image](ht

[2021-05-06 17:15] rosibaj opened #40 "Update Submission Instructions text"
Update the text to this:

**To format your viral sequence metadata:**
1. Download the [metadata TSV Template]() for the viral sequence metadata and populate it with accepted values for each field. A reference of the accepted values can be found [in this resource]().
2. [DataHarmonizer]() is a tool that can be used to help validate the accepted values for each field in your metadata TSV locally bef

[2021-05-06 19:44] rosibaj commented on #40
tested on dec portal - looks great thank you @caravinci !

[2021-05-06 19:51] rosibaj commented on #39
tested on dev:
![image](https://user-images.githubusercontent.com/15824252/117357457-f687ab80-ae82-11eb-8b70-d918b8d2551c.png)

informative - thank you @caravinci !

[2021-05-07 16:01] akachru-github opened #41 "Add communication banner to the portal UI"
- With upcoming shutdowns from Scinet and Collab maintenance, the Virus-seq portal will become unavailable for short periods of time.
- We will need to be able to communicate the outage alerts leading up to the scheduled maintenance via a banner along the top of the portal UI.
- The text will need to be easily updated via github.

[2021-05-07 16:06] akachru-github opened #42 "Support external maintenance page for virus-seq portal"
- With upcoming shutdowns from Scinet and Collab maintenance, the Virus-seq portal will become unavailable for short periods of time.
- During the outage (scheduled or otherwise), we will need have users directed to a maintenance page. This can be manually triggered.
- Since the virus-seq portal is hosted entirely on Collab, this page will need ot be hosted externally. Netlify was suggested as an

[2021-05-13 14:06] #15 closed

[2021-05-13 14:06] #40 closed

[2021-05-13 14:38] akachru-github commented on #42
- Devops for DNS change
- We will need a design for this. Reach out to @kcullion for this.

[2021-05-13 14:41] akachru-github commented on #42
Reference to IHCC maintenance page:  https://github.com/IHCC-cohorts/ihcc-ui/tree/develop/src/components/MaintenancePageContent

[2021-05-13 14:46] akachru-github commented on #41
- Make banner change in Virus-seq, and port back generic changes to DMS-UI.
- ICGC25k
  - toggle to be dismiss-able
  - supports regular text and linked text
  - stored in environment variables

[2021-05-14 15:22] akachru-github commented on #38
Dupe of https://github.com/cancogen-virus-seq/roadmap/issues/21

Closing.

[2021-05-14 15:22] #38 closed

[2021-05-14 17:35] kcullion opened #43 "Bug: Email verification link should just load the dashboard"
## Steps taken
This is happening in production and dev sites.

1. Register a new user through keycloak page
2. Click on `Link to e-mail address verification` from the email (I'm logged in to my email at this point)
3. The site opens in the browser. I first see a white page, then the pre-loader, then the login page loads (https://virusseq-dataportal.ca/login) then the dashboard loads
4. This happen

[2021-05-19 15:40] rosibaj opened #45 "Re-enable Downloads + Visible columns"
- [x] Add the download functionality BACK on the search page (e.x https://github.com/cancogen-virus-seq/portal/issues/32)
- [x] Now that the questionable data has been suppressed, we can add some columns back as visible to the platform:
  - Add the `Isolate` column as an option to select for columns
  - Add `host age` as a facet, and option for selection in the column.  This should be a default vi

[2021-05-19 16:19] jaserud commented on #41
Deployed into dev with the three variants visble: error, warning and info

[2021-05-19 16:24] caravinci commented on #45
Changes applied. Awaiting confirmation, in order to replicate to prod.

[2021-05-20 19:39] rosibaj commented on #45
Deployed and verified on production environment May 20, 3:37

[2021-05-20 19:39] #45 closed

[2021-05-20 19:39] rosibaj commented on #41
Banners verified and deployment to production completed.  thank you @jaserud !

[2021-05-20 19:39] #41 closed

[2021-05-26 17:53] #39 closed

[2021-05-27 14:38] #17 closed

[2021-05-27 19:10] rosibaj commented on #42
contact link: info@virusseq-dataportal.ca
other link: https://www.genomecanada.ca/en/cancogen/cancogen-virusseq

[2021-05-27 20:43] rosibaj commented on #42
@lepsalex can you add these links to the images:
- https://www.genomecanada.ca/
- https://www.overture.bio
- https://github.com/cancogen-virus-seq

[2021-05-27 21:05] #42 closed

[2021-05-28 14:14] rosibaj opened #47 "Update Policies text"
page: https://virusseq-dataportal.ca/policies
text updates:  https://docs.google.com/document/d/1xg-U-kFGYEhJmpkwqC1tcR3nFDz4H_tFsIelIi30z3E/edit#

[2021-05-28 14:42] rosibaj opened #48 "Add Links to Site Banners + Permanent Banner"
- [ ] Add the ability to add links to banners.
- [ ] Add this Banner
**Banner Type:** Info and Dismissible
**Banner Title:** IMPORTANT: Data Acknowledgement
**Banner Content:** You may use the data from the Canadian VirusSeq Data Portal to author results obtained from data analyses, provided that your published results [acknowledge](https://virusseq-dataportal.ca/acknowledgements ) the Canadian Pu

[2021-05-31 16:13] jaserud commented on #47
updates to policy page: https://github.com/cancogen-virus-seq/portal/pull/49/commits/405e3a244cfe9b98d3ba0ac227a85ff15b00fba5

[2021-05-31 20:21] rosibaj commented on #47
@jaserud can i get one update just to the date:

...This privacy policy was last revised on `May 31 2021`. ...

[2021-06-01 13:36] rosibaj opened #51 "Support External Read Only Site for Maintenance - Needed June 9-11"
- UI Pages only
- remove submitter login in footer
- disable the explore tab, and the explore button from homepage
- No new data can be posted.
- hosted on Netlify
- Add a `warning` banner to this site with the text:
[code]

[2021-06-01 14:26] rosibaj commented on #47
lgtm thank you @jaserud

[2021-06-02 14:03] jaserud commented on #51
Preview page here: https://deploy-preview-1--nostalgic-kare-282903.netlify.app/

[2021-06-04 14:04] christinayung opened #52 "Portal UI updates"
- [x]  Remove "As of April 27, 2021" from the landing page. This should ideally be auto updated with the latest submission date.  For now, remove.

![image.png](https://images.zenhubusercontent.com/5bbe9c22307bc60241e3aa93/104d8370-c268-4e66-b5b8-62d9a3f72cf6)

- [x]  Expose the `specimen collector sample ID` in the table column by default; this should be the first column in the table by default.

[2021-06-04 18:20] caravinci commented on #52
Added the column as requested, and removed the `Release Date` from the homepage.
As it was simple enough, I've implemented simple logic to display a date in the original format, if one is provided in the helm values ([`NEXT_PUBLIC_RELEASE_DATE`](https://github.com/cancogen-virus-seq/infra/blob/main/helm/portal/dev/values.yaml#L15)).

This can be changed to read from an endpoint or any other option

[2021-06-07 17:57] rosibaj commented on #47
confirmed on production

[2021-06-07 17:57] #47 closed

[2021-06-07 17:58] rosibaj commented on #52
confirmed on production

[2021-06-07 17:58] #52 closed

[2021-06-09 17:23] #51 closed

[2021-06-09 17:31] rosibaj opened #53 "UI Adjustments"
- [x] Change the column names to match the Data Harmonizer
- `Country` --> `Geo_loc_name (Country)`
- `Province` --> `Geo_loc_name (State/province/territory)`
- `Host` --> `Host (Scientific name)`
- [x] Update the download all S3 url  https://object.cancercollaboratory.org:9080/swift/v1/Download/data/virusseq_metadata_consensus_all_20210608.tgz

[2021-06-09 17:53] ArtPoon opened #54 "Incorrect sample collection date"
Apologies if this isn't the correct issue tracker to report this.  I just noticed that sample `L00248453` has a collection date of `2011-01-01`, which is very unlikely and not consistent with the year field in the sample name (isolate).

[2021-06-09 17:53] ArtPoon commented on #54
Data retrieved from portal on June 9.

[2021-06-10 13:49] rosibaj commented on #54
@lindaxiang Can you please take a look at this submission error?

[2021-06-10 13:50] rosibaj commented on #37
@kcullion i cant quite see the difference here - is this done?

[2021-06-10 13:53] kcullion commented on #37
@rosibaj no it's not. But maybe it's not accurate anymore?
Instead of saying `Genome Canada has partnered with DNAstack to integrate COVID Cloud with the Canadian VirusSeq Data Portal` which seems to me like it's saying the two portals are linked in some way...I thought we could say
`Genome Canada has also partnered with DNAstack to integrate VirusSeq data with their COVID Cloud Platform`

[2021-06-10 14:23] rosibaj opened #55 "Add new fields to VirusSeq portal - all layers"
There will be additional fields added to the virus-seq dataset:
- 4 new, optional fields.
- the isolate field is no longer required, thus muse cannot rely on it to associate payloads/files.
- 1 new required field `fasta_header_name`.  This field should replace all functionality of the `isolate` field.

## Steps to Update
- [ ] Data harmonizer template update
- [x] Song - https://github.com/cancoge

[2021-06-15 13:20] rosibaj opened #56 "UI Updates After schema changes"
- [x] Change the TSV export to all available columns
- [x] Change the instructions on the submission page:

- [x] Change the wiki docs instructions to match the above: https://github.com/cancogen-virus-seq/docs/wiki/How-to-Submit-Data

[2021-06-22 14:32] rosibaj commented on #54
This has been corrected. thank you @ArtPoon for the big submission!

[2021-06-22 14:32] #54 closed

[2021-06-22 14:33] rosibaj commented on #53
this is done.

[2021-06-22 14:33] #53 closed

[2021-07-06 16:08] #56 closed

[2021-07-08 15:06] #55 closed

[2021-07-08 15:12] rosibaj opened #66 "Archive Page UI"
https://projects.invisionapp.com/d/main#/console/21152174/453472381/preview

[2021-07-14 13:50] rosibaj opened #67 "🚨🚨🚨 Facets are not rendering 🚨🚨🚨 10001 buckets"
https://virusseq-dataportal.ca/explorer
![image](https://user-images.githubusercontent.com/15824252/125633244-ba9ecf3e-8939-4d49-b3e0-6849f65d0851.png)![image](https://user-images.githubusercontent.com/15824252/125633517-8629146b-7675-475a-ba0a-3e6106cada5c.png)

[code]

[2021-07-14 14:52] andricDu commented on #67
[code]

[2021-07-14 14:52] #67 closed

[2021-07-14 15:10] rosibaj opened #68 "Suppress Duplicated Data"
- there are 10 duplicated samples from the Jul 13 AB Data Upload
[code]

- [ ] Suppress the duplications in analysis

[2021-07-14 17:00] lindaxiang commented on #68
The following analysis have been suppressed in SONG:

**analysisId**|**sampleId**|**studyId**
:-----:|:-----:|:-----:
e9db3eb1-1003-49a9-9b3e-b11003f9a90f|AB\_47576|ABPL-AB
f7e73cdd-4def-4ebb-a73c-dd4def9ebb8e|AB\_47577|ABPL-AB
b6a36142-7e10-4788-a361-427e10c788be|AB\_47578|ABPL-AB
ad967dbc-1890-4c14-967d-bc1890ec143e|AB\_47579|ABPL-AB
c63ca5ca-823d-4d55-bca5-ca823ddd55ab|AB\_47580|ABPL-AB
e276fb9

[2021-07-14 17:00] #68 closed

[2021-07-15 19:32] jaserud commented on #66
https://projects.invisionapp.com/share/4W10CB0B6YJE#/453472381_06-Data_Releases

[2021-08-03 17:46] rosibaj opened #70 "Add new columns to export all for metadata"
- [ ] Change the TSV export to include the 2 new columns  `diagnostic_pcr_ct_value_null_reason` and  `GISAID_accession`

[2021-08-03 17:46] rosibaj opened #71 "Aug 2020: Update schema/add fields for Virus-Seq"
There will be additional fields added to the virus-seq dataset:
- 4 new, optional fields.  https://github.com/cancogen-virus-seq/metadata-schemas/issues/8
## Steps to Update
- [ ] Data harmonizer template update
- [ ] Song - https://github.com/cancogen-virus-seq/metadata-schemas/issues/8
- [ ] ES mapping - https://github.com/cancogen-virus-seq/roadmap/issues/29
- [ ] Muse update needed
       http

[2021-08-09 19:33] lindaxiang commented on #71
- [ ] Payloads update - https://github.com/cancogen-virus-seq/roadmap/issues/30

[2021-08-11 14:09] akachru-github opened #72 "Update Portal UI to use Arranger to generate sets for user selection"
- Have arranger build a set and pass that set ID to singularity.

Zeplins:
- [x] https://zpl.io/a7pD9Jj
When you click download this modal launches and stays open.  the loader spins in the corner while the operation is caclulating.  Once the file is ready, it autodownloads.  If it is a download all file that is already ready, force the loader for 2 seconds just for consistency.

- [x] https://zpl.

[2021-08-13 13:07] #70 closed

[2021-08-13 13:07] #71 closed

[2021-08-17 15:02] rosibaj opened #74 "Suppress AB Data"
The data was uploaded without the fasta header format as expected ` >hCoV-19/country/identifier/year sequenced.`

Nithu will update the data, but we need the current AB dataset suppressed.

![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/190a58be-8100-4e3d-9dba-036989678834)****

[2021-08-17 19:01] lindaxiang commented on #74
All 9955 analysis have been suppressed from the portal.

[2021-08-18 17:53] rosibaj commented on #74
@Linda Xiang i have heard back regarding the upload that was supposed to replace this suppression.  It has been confirmed that the incorrect replacement data was uploaded.  Can you please suppress the AB data again?

[2021-08-18 18:07] rosibaj opened #75 "Investigate wrong or duplicated PHO-ON data"
## Steps to fid data
- select all samples with (2) values on the facet on the left hand side of the portal
- sort the table on sample submitter id. You will see tht there are 2 rows.

## Data description
- The data compared between rows is wildly different, for the same sample id.  For example, in one the gender switches (`ON_125804`) and in another the age bin is 20 years different (`ON_125805`).

[2021-08-19 14:20] andricDu commented on #66
Waiting for testing approval before including in release.

[2021-08-19 15:14] andricDu commented on #72
Waiting on design.

[2021-08-20 02:22] nithujohn commented on #75
Can you suppress all the samples with duplicates as there was a database error. I have receieved the corrected files and could you let me know once it is suppressed. Thanks!

[2021-08-20 13:52] #74 closed

[2021-08-20 16:04] rosibaj commented on #75
@lindaxiang Can you please suppress all samples with a count of (2) in the PHO-ON study?

[2021-08-20 17:55] lindaxiang commented on #75
@rosibaj 84 analysis which have duplicated samples are suppressed on the portal.

[2021-08-20 18:01] rosibaj commented on #75
thank you @lindaxiang  - confirmed on portal UI.

[2021-08-20 18:01] #75 closed

[2021-08-23 13:04] rosibaj opened #79 "Release page has typos"

[2021-08-25 13:53] #79 closed

[2021-09-03 13:48] rosibaj commented on #72
deployed September 02, 2021

[2021-09-03 13:48] #72 closed

[2021-09-03 13:52] rosibaj opened #90 "Suppress Duplicate Data submitted"
- [ ]  Suppress 3//4 of the samples with > 1 record
![image](https://user-images.githubusercontent.com/15824252/132015989-553ae403-76e2-4951-96c5-158cf5c03fd8.png)

[2021-09-10 15:29] rosibaj opened #91 "Remove facet from portal"
![image](https://user-images.githubusercontent.com/15824252/132878812-460ff3dd-f0ae-458c-a851-1a7ec0d0e869.png)

[2021-09-13 13:54] #90 closed

[2021-09-13 16:54] rosibaj opened #92 "When downloading data, the fade does not cover all of the screen"
![image](https://user-images.githubusercontent.com/15824252/133125220-366f111f-1a28-4982-b74e-0d3d973827aa.png)

[2021-09-13 16:56] rosibaj commented on #91
Deployed and confirmed with testing on September 12 2021

[2021-09-13 16:57] #91 closed

[2021-09-15 01:17] rosibaj opened #95 "Sample says COMPLETE but did not get indexed on portal."
# Description of Issue
User has reported a sample is listed as COMPLETE on upload, but did not make it to the portal:
![image](https://user-images.githubusercontent.com/15824252/133340401-6564574e-b142-4b2d-89fe-14bfa7d88daa.png)

User re-uploaded the sample a second time, and this one is now visible:

![image](https://user-images.githubusercontent.com/15824252/133340446-7382b2a2-b57c-43f4-98fa-39

[2021-09-15 14:28] rosibaj opened #96 "Remove all QC Data"
- There are concerns about the Quebec dataset values.
- Conversations are happening to resolve the issues, but in the meantime it has been agreed the QC data should be removed rom the portal in the meantime

![image](https://user-images.githubusercontent.com/15824252/133452480-bb841236-51b8-42be-a55d-6be9a7ca075e.png)

[2021-09-15 17:41] rosibaj commented on #96
confirmed the analysis have all been suppressed; waiting on the bundle to build.

[2021-09-16 13:59] rosibaj opened #99 "Update dates on the acknowledgment page"
![image](https://user-images.githubusercontent.com/15824252/133625612-30af7ab9-db9d-440f-aaf5-a5eb9c018693.png)

- [x] text should say UPDATED AT for the top static date
- [x] text should say VIEWED AT for the bottom dynamic date

[2021-09-16 14:02] rosibaj opened #100 "Add "over 90" validation to schema"
- `host_age`, `host_age_null_reason`, and ` host_age_bin` are all currently required fields, but we need to fix the logic for when sensitive ages are submitted.
- The logic is when 90+, the `host_age` should be set to null, then the `host_age_null_reason` should be provided with the Restricted Access, and `host_age_bin` must be set to 90+

**For Example**:

| STATE  | host_age | host_age_null_reas

[2021-09-16 14:10] rosibaj commented on #96
closing as bundle has been built

[2021-09-16 14:10] #96 closed

[2021-09-16 14:28] rosibaj commented on #95
- analysis that is indexed `f3cdc94d-d92e-4d58-8dc9-4dd92e6d5859`
- analysis that is not indexed `ae228aa2-f2ca-4333-a28a-a2f2ca13333a'

[2021-09-16 19:09] rosibaj opened #101 "Update the Acknowledgements text"
Using the Word doc from @rosibaj update:
- [ ] the [acknowledgements page](https://virusseq-dataportal.ca/acknowledgements) text to:

- [ ] the acknowledgements popup on download

Additionally, on the [acknowledgements page](https://virusseq-dataportal.ca/acknowledgements) we need to provide the policy as a PDF that can be downloaded.
- [ ] Add a pdf copy of the policy to the bucket to be used by

[2021-09-16 20:05] lepsalex commented on #95
![Screenshot from 2021-09-16 15-44-43](https://user-images.githubusercontent.com/3143103/133677645-098d2d60-89a5-487f-90d1-7c4e6c8ca8ba.png)

Ok so this was a Song error, as you can see from the screenshot:

* the first two logs entries show that the analysis was published, event emitted by kafka, received by maestro
* the rest of entries show that Maestro was attempting to get this analysis from

[2021-09-17 15:22] rosibaj commented on #95
@lepsalex looks good - following up with @yalturmes now about possible alerts in zabbix.  will close once i know outcome of that.

[2021-09-20 15:28] rosibaj commented on #95
@lindaxiang can you suppress the duplicate sample of analysis `a03404b8-1358-4cae-8073-87f209e56f17` on production so wwe can close this ticket out?

[2021-09-20 16:04] #99 closed

[2021-09-20 16:04] rosibaj commented on #92
confirmed on prod!

[2021-09-20 16:04] #92 closed

[2021-09-20 16:05] rosibaj commented on #37
confirmed on prod

[2021-09-20 16:05] #37 closed

[2021-09-22 15:26] rosibaj opened #105 "Race condition on Internal Server errors"
![image](https://user-images.githubusercontent.com/15824252/134373245-5dee51b2-6d60-4c97-87a9-30eccda102b2.png)
`87779e17-bfe0-4976-8e6f-61d3d06bdea`submmission id
- i submitted some bad data to make sure it would validate (edited)
- after waiting a few minutes, 2 of these samples should have processed, the other 8 should not
- instead, they jsut got stuck at queued awhile

## After Investigation

[2021-09-24 13:18] lindaxiang opened #106 "Suppress duplicated analysis for study `ABPL-AB`"
107 duplicated analysis are to be suppressed in SONG.

[ABPL-AB.107.duplicates.txt](https://github.com/cancogen-virus-seq/portal/files/7225862/ABPL-AB.107.duplicates.txt)

[2021-09-24 13:37] lindaxiang commented on #106
The above 107 analysis have been suppressed from the portal.

[2021-09-24 13:37] #106 closed

[2021-09-24 15:15] rosibaj commented on #106
thank you very much @lindaxiang !

[2021-09-26 02:12] rosibaj opened #107 "Null submitted crashing on host_age_bin"
![image](https://user-images.githubusercontent.com/15824252/134790823-ec1e601c-3ef5-4ac1-97fd-063474365fa7.png)

[2021-09-27 17:38] rosibaj commented on #107
- max_buckets temporarily upped to 10,000
- @caravinci investigating updating the query to a more scalble version for `sample_id`

[2021-09-27 17:40] rosibaj commented on #95
Three more observed instances:

curl --location --request GET 'https://song.virusseq-dataportal.ca/studies/BCCDC-BC/analysis/08264d05-e0e8-43ab-a64d-05e0e813abd9'

- BC_169005 ed0268a9-90b8-426a-8268-a990b8d26ac5 COMPLETE
- BC_169017 e2c899fe-7e82-4555-8899-fe7e8245557f COMPLETE
- BC_172062 08264d05-e0e8-43ab-a64d-05e0e813abd9 COMPLETE
  - PUBLISHED analysis: https://song.virusseq-dataportal.ca/st

[2021-09-27 17:47] caravinci commented on #107
currently, arranger uses the following code to provide `bucket_count` (which is how we're getting the total for this field)
<img width="744" alt="image" src="https://user-images.githubusercontent.com/2107110/134959038-b60ffc3d-74e3-4545-abde-d82ebb62afa0.png">
https://github.com/overture-stack/arranger/blob/master/modules/middleware/src/flattenAggregations.js#L28

Will work on a different implemen

[2021-09-27 17:57] rosibaj opened #108 "Suppress samples with age > 90"
![image](https://user-images.githubusercontent.com/15824252/134960723-885731b7-3de2-40d1-a0b8-0707e7c31e15.png)

FILE OF SAMPLES TO SUPPRESS:

[38-sampels-to-remove-bc-age-over-90.txt](https://github.com/cancogen-virus-seq/portal/files/7238336/38-sampels-to-remove-bc-age-over-90.txt)

[2021-09-27 18:12] rosibaj commented on #95
Moving back to in-progress to discuss how to resovle in the next sprint planning

[2021-09-27 18:52] caravinci commented on #107
Added a code fix in the portal to prevent the error message coming up, should we exceed the bucket limit again. Won't solve the issue, but at least will remove red herring messages.

[2021-09-27 20:53] lindaxiang commented on #108
The following analysis belonged to the above samples have been suppressed from the portal.
[MCPL-MB.22.age_over_90.analysisId.txt](https://github.com/cancogen-virus-seq/portal/files/7239263/MCPL-MB.22.age_over_90.analysisId.txt)

[RRPL-SK.16.age_over_90.analysisId.txt](https://github.com/cancogen-virus-seq/portal/files/7239264/RRPL-SK.16.age_over_90.analysisId.txt)

[2021-09-27 20:58] lindaxiang opened #110 "Update `host_age_bin` from `90 - 99` to `90+`"
Here is the sample list on the portal which have `host_age_bin`=`90 - 99`
[22_samples.age_bin_to_update.txt](https://github.com/cancogen-virus-seq/portal/files/7239286/22_samples.age_bin_to_update.txt)

- 90-99 --> 90+
- For three samples with wrong age bin, update to correct age bin:
![image](https://user-images.githubusercontent.com/15824252/135093378-68e118da-07b0-474b-ae57-b2c467514583.png)

-

[2021-09-28 12:57] lindaxiang opened #111 "Add schema validations between `host_age` and `host_age_bin`"
**host\_age**|**host\_age\_bin**
:-----:|:-----:
age>=0 and age<=9 or age=null|0 - 9
age>=10 and age<=19 or age=null|10 - 19
age>=20 and age<=29 or age=null|20 - 29
age>=30 and age<=39 or age=null|30 - 39
age>=40 and age<=49 or age=null|40 - 49
age>=50 and age<=59 or age=null|50 - 59
age>=60 and age<=69 or age=null|60 - 69
age>=70 and age<=79 or age=null|70 - 79
age>=80 and age<=89 or age=null|80

[2021-09-28 17:11] lindaxiang opened #112 "Thorough checks to find conflicts between `age` and `age_bin`"
Study `MCPL-MB` has some conflicts values between `host_age` and `host_age_bin` for the following samples:

**study**|**submitterSampleId**|**host\_age**|**host\_age\_bin**
:-----:|:-----:|:-----:|:-----:
MCPL-MB|MB\_16770|71|40 - 49
MCPL-MB|MB\_1013|30|20 - 29
MCPL-MB|MB\_16774|84|90 - 99
MCPL-MB|MB\_23446|23|50 - 59
MCPL-MB|MB\_16773|32|90 - 99
MCPL-MB|MB\_16771|46|70 - 79
MCPL-MB|MB\_16775|61|9

[2021-09-28 20:44] kcullion opened #113 "[Content update] Data release page typo corrections"
Please use the following text for the bottom of the page (keep the link for `acknowledge`)

**VirusSeq Data Portal Publication Policy**
The CanCOGeN VirusSeq project requests that authors who use data from the portal acknowledge the contributions of Canadian researchers in the acknowledgements section of their work. Authors are encouraged to recognize the contributions of the appropriate specimens

[2021-09-30 13:54] rosibaj opened #114 "CoViZu FE Server Integration"
https://wiki.oicr.on.ca/pages/viewpage.action?spaceKey=OV&title=Integration%3A+CoViZu#Integration:CoViZu-HostingCoViZufront-end

- [ ] Host vanilla CoviZu
- [ ] Adjust headers with NEW tag
- [ ] If time, brand the CoViZu hosted page with header

[2021-09-30 14:32] rosibaj commented on #95
Discussion in sprint planning:

Solution has been spec'd: https://wiki.oicr.on.ca/display/OV/Paging+in+Song#PaginginSong-SQLOptimisation

Fixing this issue depends on a couple options:
1. Update to optimize these queries to/from song.  Volume in VirusSeq is
2. Maestro should index from the Analysis https://github.com/overture-stack/maestro/issues/167

[2021-10-01 15:41] rosibaj commented on #100
This was deployed to production September 30, 2021

[2021-10-01 15:41] #100 closed

[2021-10-01 15:46] nithujohn commented on #112
Hi Linda and Rosita,
I have notified NML regarding the discrepancy as soon as they get back to me with the correct information I will update you as well.
Thanks, Nithu

[2021-10-01 16:01] nithujohn commented on #108
Can I re- upload the 38 samples?

[2021-10-01 16:06] rosibaj commented on #108
@nithujohn yes ma'am we are ready!  please go ahead and do so!

[2021-10-01 16:06] #108 closed

[2021-10-01 16:07] rosibaj commented on #111
@lindaxiang this is in prod now i believe, but just want to confirm with you as well :)

[2021-10-04 16:06] #113 closed

[2021-10-04 16:06] #107 closed

[2021-10-04 16:06] nithujohn commented on #112
@rosibaj Hi Rosita, for the discrepancies of MB, the age is correct and the age bins are incorrect. Can you please update the age bin according to the age. Thanks Nithu

[2021-10-05 15:36] nknox commented on #110
Age bin should be adjusted to match host age (correct value).

Thanks!
Natalie

[2021-10-05 15:39] nithujohn commented on #110
Hi Linda and Rosita, Please change the age bins according to the age. Thanks, Nithu

[2021-10-05 15:59] nithujohn commented on #112
@rosibaj Thank you! I have checked the samples and the age is according to the age bin. Nithu

[2021-10-05 16:05] rosibaj commented on #112
thanks @nithujohn and @lindaxiang !

[2021-10-05 16:05] #112 closed

[2021-10-05 16:21] #111 closed

[2021-10-05 16:59] lindaxiang commented on #110
@nithujohn @rosibaj
All the `age_bin` with value `90 - 99` have been updated to new CV term `90+` on the portal. Please give a check. Thanks.

[2021-10-05 17:09] nithujohn opened #118 "Contaminated Samples in the portal"
I have attached a list of samples from NML which are grossly contaminated. Can you please suppress those samples. Thanks Nithu
[pulled_from_gisaid-20211005.txt](https://github.com/cancogen-virus-seq/portal/files/7287791/pulled_from_gisaid-20211005.txt)

[2021-10-05 17:22] nithujohn commented on #110
@lindaxiang I have checked the age bin section and yea they have changed to 90+ age bin (57 samples). Thanks!

[2021-10-05 18:39] lindaxiang commented on #118
The 79 samples from the above list have been suppressed from the portal. Please give a check. @rosibaj @nithujohn

[2021-10-05 19:03] nithujohn commented on #118
@lindaxiang Thank you!

[2021-10-05 20:04] #110 closed

[2021-10-07 15:41] b-f-chan commented on #118
Thank you!

[2021-10-07 15:52] b-f-chan commented on #118
**Note:** 97 samples to be suppressed in `AB-remove-dp-20211006.txt`

[2021-10-07 21:36] nithujohn commented on #118
@lindaxiang let me confirm with NML and let you know, Thanks!

[2021-10-07 22:54] lindaxiang commented on #118
@nithujohn yes. the above 40 samples have been suppressed from the portal.

[2021-10-07 23:16] nithujohn commented on #118
@lindaxiang thank you! I haven't heard from NML yet once they reply back I will let you know.

[2021-10-08 15:21] nithujohn commented on #118
[AB corrected IDs.txt](https://github.com/cancogen-virus-seq/portal/files/7312358/AB.corrected.IDs.txt)
@lindaxiang I have attached the corrected IDs from NML and cross checked on the portal as well. Can you please suppress them too. Thanks!

[2021-10-12 18:09] lindaxiang commented on #118
@nithujohn @b-f-chan
the above 17 samples have been suppressed from the portal. Please have a check! Thanks.

[2021-10-13 15:30] nithujohn opened #119 "Contaminated AB samples"
Another set of AB contamination.

hCoV-19/CANADA/ABPHL-14778/2021
hCoV-19/CANADA/ABPHL-14779/2021
hCoV-19/CANADA/ABPHL-14780/2021
hCoV-19/CANADA/ABPHL-14781/2021
hCoV-19/CANADA/ABPHL-14783/2021
hCoV-19/CANADA/ABPHL-14784/2021
hCoV-19/CANADA/ABPHL-14785/2021
hCoV-19/CANADA/ABPHL-14786/2021
hCoV-19/CANADA/ABPHL-14787/2021
hCoV-19/CANADA/ABPHL-14788/2021
hCoV-19/CANADA/ABPHL-14789/2021
hCoV-19/CANADA

[2021-10-19 17:12] b-f-chan commented on #119
@nithujohn we have suppressed these, but are waiting to re-index the data so the changes reflect in the portal.  We hope to have this done in the next couple days, will update again shortly.

[2021-10-20 15:49] b-f-chan commented on #119
Hi @nithujohn, these have been suppressed in the portal.  Seems you have already done the verification as well.  If you are satisfied, please close the ticket, thanks!

[2021-10-20 16:11] #119 closed, assigned to lindaxiang

[2021-10-21 20:30] nithujohn commented on #95
@b-f-chan @lindaxiang  Samples are not indexing on the portal. Attached the file with analysis ID and specimen ID
[PHO IDs not indexed.xlsx](https://github.com/cancogen-virus-seq/portal/files/7392612/PHO.IDs.not.indexed.xlsx)

[2021-10-27 18:42] samrichca opened #120 "CoViZu prototype"
- Make a prototype of CoViZu embedded into a page in the React application.
- Need to make sure data fetching, events, and dependencies work properly.
- Timebox to Thursday for the prototype & part of Friday for planning further work.

[2021-10-28 18:52] nithujohn opened #121 "Updation of BC metadata"
BC has gotten permission to share additional metadata (age bin, gender and purpose of sequencing to limited resolution). Is it possible to update these in the portal?

[2021-10-28 20:13] nithujohn opened #122 "AB Duplicate IDs in the portal"
@scottcain Please suppress the duplicate AB IDs in the portal. Thanks !
[Duplicate IDs AB.txt](https://github.com/cancogen-virus-seq/portal/files/7437085/Duplicate.IDs.AB.txt)

[2021-10-29 20:08] scottcain commented on #121
@nithujohn About the metadata, where can we get it? You can email it to me if that's easy. I think we might get this addressed next week.

[2021-10-29 20:32] nithujohn commented on #121
@scottcain The metadata is shared with me via NextCloud through National Microbiology Laboratory which is not shared with me yet as I have not confirmed the updation process. If you want I can mail them and they will share the updations with me and cc you as well with mail.

[2021-10-29 20:34] scottcain commented on #121
That would be great; we'll start working on a plan next week and having access to the required updates will make that planning easier.

[2021-10-30 16:41] lindaxiang commented on #122
@nithujohn @scottcain
The duplicated analysis belong to the above samples have been suppressed from the portal. Please check!

[2021-10-30 17:58] nithujohn commented on #122
Thank you! @lindaxiang @scottcain

[2021-10-30 17:58] #122 closed

[2021-10-30 18:01] nithujohn commented on #95
@scottcain @b-f-chan Can we get these three samples indexed as well?

[2021-11-03 16:42] nithujohn opened #123 "French name converting to symbols"
@scottcain Hi Scott, New Brunswick - Vitalité Health Network is converting to New Brunswick - Vitalit� Health Network while uploading to the portal which causes error while uploads. Please have a look at your end. Thanks!

[2021-11-03 20:02] nithujohn opened #124 "Files and Viral Genomes have different size"
@scottcain Hi Scott, I just noticed the file numbers and viral genomes have different numbers. Can you please  have a look. Thanks!
![image](https://user-images.githubusercontent.com/85367999/140184134-474c1e4b-95fa-4fae-aee1-fafeb1a2ddf5.png)
![image](https://user-images.githubusercontent.com/85367999/140184175-999ad224-75b8-49c1-b5fe-fdd56bd45974.png)

[2021-11-03 20:04] nithujohn commented on #124
I have included two pics first one with the discrepancy and the second is today's upload as I noticed this after the uploads!

[2021-11-04 04:09] scottcain commented on #124
@lindaxiang can you take a look at this? I'm guessing this is an indexing related issue.

[2021-11-04 13:22] lindaxiang commented on #124
@nithujohn @scottcain  I will take a look.
The different number of files and genomes means there are some duplicated samples being submitted.

For each batch of submission, I would suggest to do some pre-check of the samples upon the latest portal samples before you initiate the submission:
- retrieve all samples in the new batch of submission
- retrieve all samples from the latest data release on

[2021-11-04 19:56] lindaxiang commented on #124
@nithujohn @scottcain
FYI, the 328 duplicated samples in PHO-ON have been suppressed from the portal.
[PHO-ON.328.duplicated.submitterSampleId.txt](https://github.com/cancogen-virus-seq/portal/files/7478112/PHO-ON.328.duplicated.submitterSampleId.txt)

[2021-11-04 20:19] nithujohn commented on #124
@lindaxiang Thanks Linda! but would like to know is it from the recent upload as I went through my submission dashboard as well and was not able to find any duplicates.

[2021-11-04 22:02] nithujohn commented on #124
@lindaxiang Hi Linda, can you send me the supressed metadata file. Thanks!

[2021-11-05 00:58] nithujohn opened #125 "Sample not indexed on the portal"
@scottcain Hi Scott, I have uploaded AB 5240 and one sample was not indexed on the portal.
Sample ID: AB_201011
Analysis ID: 32a2bc37-b985-4fb3-a2bc-37b9859fb33d
![image](https://user-images.githubusercontent.com/85367999/140440560-a405e459-0ded-45af-936e-fad3e1591a9b.png)

[2021-11-08 21:51] scottcain commented on #123
@nithujohn I'm trying to get a grip on a reasonably easy way to work around this, which basically involves forcing something to convert "special" characters (ie, the ones not used in English) to the ASCII character set, which should allow you to upload the data. A longer term fix should come along eventually, but my understanding is that it's tricky.

So, my question to you is this: if you were to

[2021-11-08 22:04] lindaxiang commented on #124
@nithujohn do you still need the suppressed metadata for verification? Attached please find it.
[PHO-ON.328.suppressed.metadata.txt](https://github.com/cancogen-virus-seq/portal/files/7500419/PHO-ON.328.suppressed.metadata.txt)

[2021-11-08 22:12] nithujohn commented on #124
@lindaxiang thanks for the file, we cross checked the files with the portal ID. But this will help to confirm the IDs deleted. Thanks again!

[2021-11-08 22:17] nithujohn commented on #123
@scottcain I am using Windows operating system (64-bit operating system). I have also attached one sample metadata file from NB for you to test. Hope this will help! Thanks
[NBsample.txt](https://github.com/cancogen-virus-seq/portal/files/7500485/NBsample.txt)

[2021-11-09 00:09] scottcain commented on #123
OK, this is going to sound a little crazy, but here goes: do you use Excel if you want to edit these files? I googled for methods of removing diacritical marks and found several pages that basically list the same solution: write a simple VBA function that will remove them. Is that something you'd be interested in trying? Below I'll paste a link to a short video where it's explained, plus a page wh

[2021-11-09 00:20] scottcain opened #126 "separate metadata from fasta in downloads"
Natalie Fox at NML has asked if it would be possible to modify the downloads page to make the fasta and metadata available as separate downloads. Apparently it is fairly common to want to download just the metadata, and being forced to download the gigantic fasta file just to get a pretty small metadata file is a drag. How hard would this be to implement?

[2021-11-09 00:33] nithujohn commented on #123
Ok, but does it affect the metadata schema (https://github.com/cancogen-virus-seq/metadata-schemas/blob/main/schemas/consensus_sequence.json) ? I mean if I remove those will it cause another error. Well, let me try with one sample. If it works I will let you know :)

[2021-11-09 01:07] nithujohn commented on #123
@scottcain I tried by removing the accents and it didn't work but I re- tried with the accent and it worked. Let me se if the whole lot goes in

[2021-11-09 01:23] nithujohn commented on #123
![image](https://user-images.githubusercontent.com/85367999/140844341-952d39a9-ae3c-449b-bea9-79ea81f15e04.png)
When I uploaded one sample, it was accepted but multiple samples the same error.

[2021-11-09 02:17] nithujohn commented on #123
So when I submitted one sample each for NB there is no error for French names but when I submitted for instance I received 507 samples in one file it causes error. Using fasta uploader I submitted all the NB files to the portal.

[2021-11-09 18:01] nithujohn opened #127 "Update sample collection dates for exsisting samples in the portal"
@scottcain Is that possible to update sample collection dates for exsisting samples in the portal. I have attached a file with 5 samples from BC with updated sample collection dates
[fixed_dates_2021_11_08 - dp.txt](https://github.com/cancogen-virus-seq/portal/files/7506978/fixed_dates_2021_11_08.-.dp.txt)

[2021-11-09 19:34] lindaxiang commented on #127
@nithujohn @scottcain `sample collection dates` have been updated at the backend for the above 5 samples.
Please give the portal a bit of time for catching up and then check whether the portal has been updated. Thanks.

[2021-11-09 20:15] nithujohn commented on #127
@lindaxiang @scottcain Thank you so much! I checked the IDs and the dates have been updated.

[2021-11-09 20:40] scottcain commented on #127
Closing, thanks @lindaxiang

[2021-11-09 20:40] #127 closed

[2021-11-09 21:43] scottcain opened #128 "Date submitted not in metadata file?"
I haven't confirmed this yet but Natalie Fox reports that the date submitted is not in the metadata in the download, which seems fairly important.

[2021-11-09 21:52] scottcain opened #129 "Better handling of duplicate sequences"
At the moment, the portal doesn't do anything about duplicate sequences, it just accepts them (right?). This is clearly not OK and the portal should certainly do something different. I'm creating this issue as a place to collect potential solutions.

[2021-11-10 17:08] scottcain commented on #123
@nithujohn, during the call yesterday, I think I heard you say you had uploaded all these sequences. Is that correct? Did you do them one at a time?!?

Also, would it be possible to get the file with 507 samples in it. We are trying to reproduce this problem in our dev environment. Thanks!

[2021-11-10 17:19] nithujohn commented on #123
@scottcain Yes, I have uploaded all the sequences but didn't do it one time. I used [fasta-uploader](https://github.com/cidgoh/FastaUploader#fasta-uploader) which broke the sets in to batch of 5 and uploaded it.
[NB505.txt](https://github.com/cancogen-virus-seq/portal/files/7514681/NB505.txt)

[2021-11-15 20:20] samrichca commented on #114
scope update
- feature flag (localStorage.COVIZU=true)
- add "Visualize Data NEW" to navigation
-

[2021-11-16 18:02] scottcain commented on #125
@nithujohn has this been addressed?

[2021-11-16 18:05] scottcain commented on #124
Double checking--I think this issue can be closed, right @nithujohn ?

[2021-11-16 18:24] nithujohn commented on #125
Yea, last virusseq meeting!

[2021-11-16 18:26] #124 closed

[2021-11-16 21:13] scottcain opened #131 "Change log for releases"
It would be good to have a change log for each release that indicates how many sequences were added, and if any were changed or deleted with an explanation for why.

[2021-11-16 21:49] scottcain opened #132 "add genome canada to acknowledgments"
This is very high priority and should be done this week (ie, before we work out how to add the dynamic content from github)

[2021-11-16 23:42] scottcain commented on #121
@lindaxiang is this issue resolved?

[2021-11-16 23:45] #125 closed

[2021-11-18 17:39] nithujohn opened #133 "Update metadata schema (Purpose of sequencing)"
@scottcain New tags added to "Purpose of sequencing in the Data harmonizer. Please update the field with the new tags.
[Purpose of sequencing tags.txt](https://github.com/cancogen-virus-seq/portal/files/7564838/Purpose.of.sequencing.tags.txt)

[2021-11-18 23:39] scottcain commented on #133
@nithujohn, @lindaxiang will take look at this next week.

[2021-11-19 16:56] nithujohn commented on #121
@scottcain I have attached the file for the updation. Thanks!
[BC metadata update.txt](https://github.com/cancogen-virus-seq/portal/files/7571707/BC.metadata.update.txt)

[2021-11-19 17:34] samrichca opened #137 "(chore) add version/commit info"
- add version & commit variable to docker build
- add them to nextjs config
- add them to the UI console

[2021-11-22 17:48] nithujohn opened #140 "PHO data fix (host age bin)"
@scottcain I have attached the list of samples from PHO that needs to be fixed for host age bin.
[PHO_age_group_update_20211120.csv](https://github.com/cancogen-virus-seq/portal/files/7583250/PHO_age_group_update_20211120.csv)

[2021-11-23 12:47] b-f-chan commented on #120
Prototype successfully completed --> Final decision with @samrichca @joneubank after deliberating is to embed the viz within the React site/app itself.

[2021-11-23 12:47] #120 closed

[2021-11-23 12:48] b-f-chan commented on #137
Tested on Cancogen Dev --> Able to see both the latest app version and commit.

Ready to package for release.

[2021-11-23 13:02] b-f-chan commented on #114
Thanks @samrichca great work integrating this!  Some testing feedback:

For the header verbiage, I don’t think the link changes we discussed with @kcullion  are added yet, but just to re-summarize:

- `Covizu` should go to Art’s github page/repo: https://github.com/PoonLab/CoVizu
- `Canadian VirusSeq data` should return to the exploration page: https://virusseq-dataportal.ca/explorer

Also looks l

[2021-11-23 21:47] scottcain opened #141 "Feature request: incorporate COVID-MVP similar to CoVizu"
COVID-MVP is a nice variant visualizer and could potentially be integrated in a way similar to CoVizu

https://github.com/cidgoh/COVID-MVP

[2021-11-23 22:38] scottcain commented on #133
@nithujohn , can you test that this has be updated? If it looks good to you, please feel free to close this issue.

[2021-11-23 22:52] nithujohn commented on #133
@scottcain @lindaxiang thank you !

[2021-11-23 22:52] #133 closed

[2021-11-24 17:00] b-f-chan commented on #43
After discussion with @caravinci, a similar issue may also have been encountered in DACO, @samrichca may have addressed this in DACO, so talk to her first.  May be a NextJS issue integrating with EGO during the login process.

[2021-11-24 20:06] lindaxiang commented on #121
@nithujohn @scottcain  I am working on updating of the BC metadata. However just found that for `purpose of sequencing`, the provided the updating term: `Targeted sequencing` is not in the allowed list.
Can you tell me which term is good to go?

FYI, here is the list of CV terms for `purpose of sequencing`:
[code]

[2021-11-24 20:12] lindaxiang commented on #121
@nithujohn @scottcain
Also for sample
[code]
`host age bin` is `Unknown`, which is also NOT in the allowed list of `host age bin`:
[code]
 Can you let me know which NA value you want to put there? Thanks.

[2021-11-24 20:31] nithujohn commented on #121
@lindaxiang Not Provided can be used instead of Unknown

[2021-11-24 20:36] lindaxiang commented on #121
Thanks @nithujohn . What about the values for `purpose of sequencing`?

[2021-11-24 20:40] nithujohn commented on #121
@lindaxiang  I am confirming the tag with NML most probably it will be "Targeted surveillance (non-random sampling)"

[2021-11-24 21:19] nithujohn commented on #121
@lindaxiang it's "Targeted surveillance (non-random sampling)" confirmed by NML

[2021-11-25 18:25] nithujohn opened #142 "Error while uploading the samples"
Schema violation error while uploading samples to portal: Restricted Access is a valid ennum for the metadata schema but still shows error
![image](https://user-images.githubusercontent.com/85367999/143487666-07fed6ef-611c-4c6f-8679-676c008d6037.png)
[test.txt](https://github.com/cancogen-virus-seq/portal/files/7604823/test.txt)

[2021-11-25 22:08] nithujohn commented on #128
@scottcain Is there any update on this issue? Thanks!

[2021-11-26 13:55] lindaxiang commented on #121
@scottcain @nithujohn all the metadata in above file(`BC metadata update.txt`) have been updated on Prod. Please give a check. Thanks.

[2021-11-26 16:25] nithujohn commented on #121
@scottcain @lindaxiang Thank you so much and they are updated!

[2021-11-26 16:25] #121 closed

[2021-11-26 18:43] lindaxiang commented on #142
@nithujohn There is a typo in the metadata as `Restriced Access`. That's why it complains.

[2021-11-26 18:48] #114 closed

[2021-11-26 18:48] #137 closed

[2021-11-26 19:11] nithujohn commented on #142
@lindaxiang thanks Linda! I didn't notice that looks like need extra glasses

[2021-11-26 19:11] #142 closed

[2021-11-29 01:03] nithujohn commented on #105
@scottcain Similar instance was observed during BC 22000 upload for 2 batches
Data Submission: 7d17bdc0-5249-4678-bc72-b8afb7ca5d90
![image](https://user-images.githubusercontent.com/85367999/143793827-07ee8248-8ea7-451b-8da6-99ecdc5d50d5.png)
Data Submission: a6a03aa1-94f4-4363-b0e8-c8acd7dd6038
![image](https://user-images.githubusercontent.com/85367999/143794119-9609a75e-73bf-4d1e-81e5-0513c851

[2021-11-29 01:32] nithujohn opened #146 "Upload status of the samples"
@scottcain Hi Scott, I have attached 3 batches of samples, of them couple of the samples are fully processed, partially processed and queued ones. Can you let me know the status of these samples as which of them needs to be re- uploaded. Thanks!
[BC failed batches dp.xlsx](https://github.com/cancogen-virus-seq/portal/files/7614889/BC.failed.batches.dp.xlsx)

[2021-11-29 13:06] b-f-chan commented on #132
Hi @scottcain do you have the static text for this?  Need some more detail for this

[2021-11-29 16:59] scottcain commented on #132
I don't, which makes getting this done difficult. I'll poke some people to see if I can get something.

[2021-11-29 20:37] jaserud opened #147 "Overloaded SONG causes 500 errors when Maestro tries to reindex because DB connections can't be established"
Issue discovered from original issue: https://github.com/cancogen-virus-seq/portal/issues/95

### Investigation findings:
![Screenshot from 2021-09-16 15-44-43](https://user-images.githubusercontent.com/3143103/133677645-098d2d60-89a5-487f-90d1-7c4e6c8ca8ba.png)

Ok so this was a Song error, as you can see from the screenshot:

* the first two logs entries show that the analysis was published, eve

[2021-11-29 20:56] jaserud commented on #95
@scottcain  As discussed I've split this ticket into the separate issues that we found:
- https://github.com/cancogen-virus-seq/portal/issues/147
- https://github.com/cancogen-virus-seq/roadmap/issues/32

All issues regarding samples not indexed in this ticket should already be resolved. If there are any other indexing issues, let's open new tickets.

[2021-11-29 20:56] #95 closed

[2021-11-30 15:35] lindaxiang opened #148 "SONG Update in Prod can NOT populate the correct values in fields `firstPublishedAt`, `publishedAt` , `analysisStateHistory`"
When update the SONG metadata, the current SONG in Cancogen has a bug to populate the correct values in the fields:
`firstPublishedAt`, `publishedAt `, `analysisStateHistory`

Example:
https://song.dev.cancogen.cancercollaboratory.org/studies/PHO-ON/analysis/087ecad7-6401-40f0-beca-d7640160f07d

- Before Update
![Screen Shot 2021-11-30 at 10 19 27 AM](https://user-images.githubusercontent.com/7522

[2021-11-30 17:30] scottcain commented on #146
Hi @nithujohn , @jaserud spent a lot of time with this one tracking down a bug, and gave me a list of ids that should NOT be resubmitted ( ie, the rest should):

"BC_143988",
"BC_144830",
"BC_143989",
"BC_143979",
"BC_143982",
"BC_144821",
"BC_143974",
"BC_143971"

[2021-11-30 17:52] nithujohn commented on #146
Thank you! @scottcain @jaserud

[2021-11-30 21:05] #146 closed

[2021-12-01 19:22] scottcain opened #150 "Create UI for to allow users to modify metadata (FR)"
Frequently there are problems or updates to sequence metadata and currently there is no mechanism to allow the user that added the data to update it, resulting in the need for backend work by devs to do the updates. We should create a page or other mechanism that would allow users to make these changes themselves (and log the changes!)

[2021-12-03 16:42] nithujohn opened #151 "Suppress PHO sample"
@scottcain Can you please suppress the PHO sample uploaded yesterday PHO ID ON_249381. Thanks!

[2021-12-03 18:52] scottcain commented on #123
@nithujohn is this the one that you asked us to suppress in #151 ?

Also, before you indicated that uploading one (or a few) at a time works, is that not the case with the omicron sample, or is it just that you have to wait for us to suppress it, and then you'll try again with this sample?

[2021-12-03 18:56] nithujohn commented on #123
@scottcain This is a different sample, the one I have asked to suppress in #151 is PHO sample. I have got another omicron as well detected in Quebec

[2021-12-03 18:59] nithujohn commented on #123
it worked for the samples from New Brunswick but not for Quebec.

[2021-12-03 18:59] scottcain commented on #123
Shoot. So much for having a work around. @jaserud do you have any thoughts on this new development?

[2021-12-03 19:43] nithujohn opened #152 "Update metadata schema (sample collected by)"
@scottcain New tags for "Sample collected by". Please update the field with the new tag **"Dynacare"** to the metadata schema. Thanks!

[2021-12-06 16:33] lindaxiang commented on #151
@nithujohn @scottcain  , the above sample has been suppressed from the portal.

[2021-12-06 16:45] nithujohn commented on #151
@lindaxiang Thank you so much!

[2021-12-06 16:45] #151 closed

[2021-12-06 22:28] nithujohn commented on #123
@scottcain I think there was an encoding issue with the files I received and I have changed it to UTF-8 and it worked!

[2021-12-07 21:39] scottcain opened #153 "Select all for metadata download (FR)"
A user asked if it would be possible to add a "select all" for metadata columns for download

[2021-12-07 21:43] scottcain opened #154 "Allow sorting by lineage in explorer (FR)"
^^^ can it be done?

[2021-12-07 21:44] scottcain opened #155 "Allow binning by vaccination status (FR)"
is it possible to bin based on vaccination status?

[2021-12-08 01:17] scottcain commented on #129
Lincoln's suggestion was to do some preprocessing of the upload in the shell on the server side: `cut` to get the ID, then `uniq -d` to check for duplicate entries. If this returns anything alert the user.

Feels easy to me, but I don't know the implementation details of the upload processing stuff.

[2021-12-08 19:54] nithujohn commented on #126
@scottcain Hi Scott, I am receiving lot of requests for this issue. Most of the researchers would like to download only metadata sets rather than the whole set.

[2021-12-09 20:24] nithujohn opened #156 "Update metadata schema (purpose of sequencing)"
@scottcain Hi Scott, there are new tags for "purpose of sequencing" which I have listed below for metadata schema updation. Thanks!

"Sample has epidemiological link to Variant of Concern (VoC)"
"Sample has epidemiological link to Omicron Variant"

[2021-12-09 22:31] scottcain commented on #152
@lindaxiang can you take a look at this one please?

[2021-12-10 21:52] lindaxiang commented on #152
@nithujohn I wan to double check with you. Are you referring to `Dynacare` or `Dynacare (Brampton)`.
FYI, `Dynacare (Brampton)` is the one current schema is missing compared with DataHarmonizer CV.

[2021-12-10 22:23] nithujohn commented on #152
@lindaxiang Can you please add both as the border testing is done by Dynacare in some provinces. Thanks!

[2021-12-13 14:16] lindaxiang commented on #152
sure thing @nithujohn . thank you for confirming.

[2021-12-13 22:17] lindaxiang commented on #156
@nithujohn @scottcain the schema has been updated. Please give a check. Thanks.

[2021-12-13 22:17] lindaxiang commented on #152
@nithujohn @scottcain The schema has been updated. Please give a check. Thanks.

[2021-12-13 22:38] nithujohn commented on #152
I have checked it and it has been updated! thank you so much @lindaxiang @scottcain

[2021-12-13 22:38] #152 closed

[2021-12-13 22:38] nithujohn commented on #156
Thank you!! @lindaxiang @scottcain

[2021-12-13 22:38] #156 closed

[2021-12-14 18:37] scottcain commented on #140
@lindaxiang About this issue and the other metadata update issues: is it possible to create a file during the updating process that keeps track of what the old value was and what it was updated to? I'm thinking having at least some sort of rudimentary change log would be nice.

[2021-12-14 19:21] nithujohn opened #157 "No active datasets for download in Data release page"
@scottcain Hi Scott, there is no active dataset in the data release page of the portal. Can you please have a look, might be an error? Thanks!

[2021-12-14 19:23] nithujohn commented on #157
![image](https://user-images.githubusercontent.com/85367999/146065564-0e9f7eb8-1b97-4dd7-82a7-837728ff72f4.png)

[2021-12-14 21:34] scottcain commented on #157
Looks fixed (thanks @henro001 ) @nithujohn please confirm and close if you agree.

[2021-12-14 21:35] scottcain commented on #140
@lindaxiang I'm being told updating this data is very important (the data provider may asked to have the data removed if we don't fix this). So, with or without a change log, please update this as soon as possible.

[2021-12-14 21:39] #157 closed

[2021-12-14 21:48] scottcain opened #158 "Adding a "news/announcements" section (FR)"
I don't have a strong opinion about how to do this, but the portal really needs to have some sort of way to disseminate news and announcements from the site. A link to a blog or other CMS would be really good. It could be used for downtime announcements (or apologies) as well as change log type things.

[2021-12-14 21:55] scottcain opened #159 "Add COVID-MVP to portal (FR)"
This could be added in multiple steps:

1. adding a link to the page that is running on William's server.
2. Integrating it like CoViZu.

Site: https://covidmvp.cidgoh.ca/

What I think would be really good would be to convert the "visualize" banner option to a dropdown that has links to CoViZu and COVID-MVP

[2021-12-14 21:57] scottcain opened #160 "REST api or similar to acquire data"
I think I asked about this in Slack but probably at the wrong time of day :-) so I'm making an issue so I don't forget about it:

Is there a REST endpoint or the like that users can use to get the most recent data?

[2021-12-16 22:38] lindaxiang commented on #140
@scottcain yes. I have log file generated to record the changes we made.

[2021-12-17 17:52] lindaxiang commented on #148
This bug likely has been fixed in Dev.
You can use the following content for updating step:
[code]

[2021-12-22 18:02] #123 closed

[2021-12-22 18:42] nithujohn opened #161 "Suppress duplicate AB samples"
@scottcain Hi Scott, there are duplicate samples for AB in the portal. I have listed the IDs below. Can you please suppress the samples. Thanks!

AB_261448
AB_261449
AB_261342

[2021-12-22 19:46] scottcain commented on #161
Hi @lindaxiang when you get back please take care of this.

[2021-12-22 19:51] scottcain commented on #123
thank you so much for figuring this out. I had a feeling it had something to do with encoding but it was so hard to debug remotely.

[2021-12-30 20:56] scottcain opened #162 "Date filter giving off by one dates"
This issue was initially raised by @nithujohn, as the result of a Compute Canada ticket (Ticket#0147824)

When I try to filter data by collection date and, for example, select the start and end date to Dec 10, I get results for Dec 11. Please see the attached screenshot.

<img width="959" alt="Screen Shot 2021-12-30 at 12 52 56 PM" src="https://user-images.githubusercontent.com/274751/147787445-26

[2021-12-30 20:57] scottcain commented on #162
Guessing @jaserud is a good person to assign this to--if not, please pass along to the right person.

[2022-01-04 14:32] lindaxiang commented on #161
@nithujohn
Hi Nithu, all these 3 samples have two copies in the portal
- one copy was submitted on `2021-12-08`, with `purpose_of_sequencing_details`=`Surveillance testing`
- the other copy was submitted on `2021-12-22`, with `purpose_of_sequencing_details`=`Not Provided`
which copy do you want to suppress?

[2022-01-04 16:23] nithujohn commented on #161
@lindaxiang Hi Linda, can you please suppress the enteries submitted on 2021-12-22 for all three samples, thanks!

[2022-01-04 17:24] lindaxiang commented on #161
@nithujohn Done!

[2022-01-04 17:37] #161 closed

[2022-01-04 17:39] jaserud commented on #162
AFAIK Arranger provides the filtering here so I think Jon or Justin is better suited for this one. Reassigned to them.

[2022-01-04 20:22] lindaxiang commented on #148
Just did a bunch of tests in both Dev and Prod. Here are some new observations:
- The Dev actually still have the issue
- The issue ONLY happens to the first time the analysis got updated
- After update the analysis once, the updates happened later will work as normal

For first time update of the analysis in Dev and Prod:
SONG update operation will turn the above fields (firstPublishedAt, publish

[2022-01-04 20:42] caravinci commented on #162
### As mentioned in slack, results of my research into this issue:
Based on the response from the Arranger server, there seems to be a format mismatch in the results for `sample_collection_date`, as it is expected to either be formatted in ISO or milliseconds. See here.
<img width="309" alt="image" src="https://user-images.githubusercontent.com/2107110/148120114-fcba0bf7-63e0-408f-a9db-abe93e6e11d

[2022-01-04 20:44] lindaxiang commented on #148
@joneubank  Here is an example in Dev you can use to check the above behaviours, but you can only see the bug when you update the analysis for the first time:
Example:
`song API`: https://song.dev.cancogen.cancercollaboratory.org/swagger-ui.html
`analysisId`: f5f5c60d-c440-4392-b5c6-0dc44093925c
`studyId`: UHTC-ON
`analysis_url`: https://song.dev.cancogen.cancercollaboratory.org/studies/UHTC-ON/an

[2022-01-04 21:47] nithujohn opened #163 "Updation for AB data (GISAID IDs)"
@scottcain Hi Scott, there are changes for GISAID accession IDs for AB data in the portal. I have attached the list, can you please make the changes in the portal. Thanks!

[dp_corrections-gisaid-ids-20220104.csv](https://github.com/cancogen-virus-seq/portal/files/7810541/dp_corrections-gisaid-ids-20220104.csv)

[2022-01-04 23:00] scottcain commented on #163
Unfortunately, this fix is blocked by the same issue that we worked on just before the break: https://github.com/cancogen-virus-seq/portal/issues/148 so updating this will have to wait a little while.

[2022-01-05 16:09] caravinci commented on #162
On further study, the data seems to be fed to Elastic search inconsistently, as evidenced here:
<img width="340" alt="image" src="https://user-images.githubusercontent.com/2107110/148249894-0eb32e57-67ab-4cbe-b277-29a9df0f16a8.png">
<img width="494" alt="image" src="https://user-images.githubusercontent.com/2107110/148249971-76c6c7cb-1277-41d7-9ed6-7f21d0719e5f.png">

This may be a result of somet

[2022-01-05 22:23] scottcain commented on #159
This is basically the same as https://github.com/cancogen-virus-seq/portal/issues/141 but with one more sentence :-)

[2022-01-06 16:28] caravinci commented on #162
After a few tests with @jaserud we have determined this issue has three parts:
- Arranger UI (e.g. the exploration table) is displaying the UTC date strings given by ES directly "as is", effectively shifting some of the dates while querying without displaying the timezone, which makes the issue hard to identify.
This is easily resolved on render, by converting from UTC to the user's local timezone

[2022-01-06 16:39] b-f-chan opened #164 "Implement Automated Covizu Data Update"
Currently if data is updated in the CoviZu collab bucket, we have to manually trigger a portal update to get the new data by updating the date/version in the Helm Chart.

Since the data updates are frequent (every 3 days roughly as of Jan 6, 2021 due to surge in Omicron Covid cases), this manual process is unsustainable.

@samrichca has proposed a more automated process to help alleviate this, as

[2022-01-07 14:21] joneubank commented on #148
Loss of state history does occur as described by @lindaxiang above. This only happens on "the first update" because the underlying cause is that this happens when the analysisType changes, which in our case is happening because the analysis type is going from:
[code]
to
[code]
This happens on the first update triggered, and then it is at the latest version so it doesn't happen again afterwards.

T

[2022-01-07 15:01] lindaxiang opened #165 "Retrieve a list of all analysisId whose analysis were updated but `firstPublishedAt` and `analysisStateHistory ` were not correctly populated"
There are some analysis which have been updated, but their state history may not be correctly kept due to SONG issue: https://github.com/cancogen-virus-seq/portal/issues/148

[2022-01-07 19:01] lindaxiang commented on #165
Here are the analysisId whose analysis were updated but `firstPublishedAt` and `analysisStateHistory` were not correctly populated
All the files have 3 columns:
- analysisId
- studyId
- submitterSampleId

[BCCDC-BC.incorrect_firstPublishedAt.log](https://github.com/cancogen-virus-seq/portal/files/7830769/BCCDC-BC.incorrect_firstPublishedAt.log)
[UHTC-ON.incorrect_firstPublishedAt.log](https://gith

[2022-01-13 22:09] lindaxiang commented on #140
@scottcain @nithujohn
PHO host_age_bin data has been updated in the portal. Please have a check. Thanks.
Here is the update log.

[PHO-data-fix-2022-01-13.txt](https://github.com/cancogen-virus-seq/portal/files/7866324/PHO-data-fix-2022-01-13.txt)

[2022-01-13 22:45] lindaxiang commented on #163
@nithujohn
Here are some details I want to confirm with you before I update the data in portal.
I did some cross check of the data you provide.
- the first column `study_id` is actually `sample ID`?
- values of `isolate` in the table do NOT match with what currently recorded in the portal for each sample.
- values of `OLD GISAID accession` match with the value `GISAID Accession`  currently in the

[2022-01-14 00:19] nithujohn commented on #140
@lindaxiang thank you so much!

[2022-01-14 00:19] #140 closed

[2022-01-14 00:22] nithujohn commented on #163
@lindaxiang yep, I just want to update the values of **GISAID Accession** from Old to Correct.
the first column is specimen collector ID soor for the error

[2022-01-14 16:03] lindaxiang commented on #163
@nithujohn
This issue has been addressed. Please have a check. Thanks.
cc: @scottcain

[2022-01-14 16:05] lindaxiang commented on #163
Here is the log file for updating contents.
[AB-gisaid_accession.2022-01-13.txt](https://github.com/cancogen-virus-seq/portal/files/7871646/AB-gisaid_accession.2022-01-13.txt)

[2022-01-14 16:45] nithujohn commented on #163
Thank you so much Linda! @lindaxiang

[2022-01-14 16:45] #163 closed

[2022-01-14 17:46] scottcain opened #171 "list of PHO-ON IDs with submission date"
Request from Natalie Knox:

Would you be able to send me a list of all PHO-ON IDs in the data portal with submission date? I need to cross-reference what’s been submitted in our internal database.

[2022-01-14 18:49] lindaxiang opened #172 "BUG - Sample exists in SONG but do not show up in the Portal"
There are 2 samples  which have records in SONG, however they are not showing up in the portal

**study\_id**|**specimen collector sample ID**|**submission date**|**song URL**
:-----:|:-----:|:-----:|:-----:
ABPL-AB|AB\_201011|2021-11-04|https://song.virusseq-dataportal.ca/studies/ABPL-AB/analysis/32a2bc37-b985-4fb3-a2bc-37b9859fb33d
BCCDC-BC|BC\_212959|2021-11-28|https://song.virusseq-dataportal.

[2022-01-14 19:03] akachru-github commented on #172
@jaserud , do you mind taking a quick look at this?

[2022-01-14 19:10] jaserud commented on #172
Sure thing.

[2022-01-14 19:46] jaserud commented on #172
I think Linda is right. Most likely they got missed during the topic outage which we fixed November 29 in https://github.com/cancogen-virus-seq/roadmap/issues/32. I've reindexed both via maestro so they should appear in protal. Also a new data-release bundles has been created with these two samples added.

[2022-01-14 20:43] lindaxiang commented on #172
thanks @jaserud . Just checked and this has been fixed. amazing Jaser!

[2022-01-14 20:43] #172 closed

[2022-01-14 20:55] nithujohn opened #173 "PHO age bin fix"
Hi @scottcain, PHO has another set of updates and corrections for age bin. Can you please do the update on the portal. Thanks!
[PHO_VirusSeq_age_bins_to_correct_2022-01-15.xlsx](https://github.com/cancogen-virus-seq/portal/files/7877615/PHO_VirusSeq_age_bins_to_correct_2022-01-15.xlsx)

[2022-01-17 19:43] nithujohn opened #174 "Suppress AB samples"
Hi @scottcain, I have listed AB samples below to be suppressed from the portal. Thanks!

AB_82269
AB_82313
AB_82358
AB_82361
AB_82385
AB_82395
AB_82401
AB_82404
AB_82467
AB_82489
AB_82494
AB_82510
AB_82519
AB_82584
AB_82610
AB_82655
AB_82685
AB_82717
AB_82748

[2022-01-18 18:06] lindaxiang commented on #174
@nithujohn @scottcain
The above samples have been suppressed from the portal. Please have a check. thanks.
Here is the log:
[ABPL-AB.analysisId_sampleId.txt](https://github.com/cancogen-virus-seq/portal/files/7891397/ABPL-AB.analysisId_sampleId.txt)

[2022-01-18 18:28] nithujohn commented on #174
@lindaxiang Thanks Linda!

[2022-01-18 18:28] #174 closed

[2022-01-18 20:30] lindaxiang commented on #173
@nithujohn @scottcain
The `host_age_bin` has been updated on the portal for the above dataset.
FYI:
- 20 samples with host_age_bin of `90 - 99` are changes to `90+` to conform to enum in the schema
- `host_age_null_reason` of samples with host_age_bin of `90+`  are updated to `Restricted Access` to conform to the requirement of the schema

Here is the log file:
[PHO_VirusSeq_age_bins_to_correct_20

[2022-01-18 21:17] nithujohn commented on #173
@lindaxiang Hi Linda, thank you so much!

[2022-01-18 21:17] #173 closed

[2022-01-20 20:52] scottcain opened #176 "Allow the main and search pages to give estimates of total sequences"
As the number of sequences grows, it is becoming more time consuming to get the exact number of sequences in the database. By letting the page give an estimate of the number of sequences, the performance will significantly improve. For example, rather than having the main page say "164972 Files 164972 Viral Genomes" it could say "About 160,000 files and viral genomes" and the search interface coul

[2022-01-20 21:17] scottcain commented on #132
In production now.

[2022-01-20 21:17] #132 closed

[2022-01-20 21:40] b-f-chan commented on #162
Successfully deployed and tested in prod, closing

[2022-01-20 21:40] #162 closed

[2022-01-21 00:22] b-f-chan commented on #164
Deployed and tested successfully on prod, closing

[2022-01-21 00:22] #164 closed

[2022-01-25 05:01] scottcain commented on #141
really a dupe of https://github.com/cancogen-virus-seq/portal/issues/159

[2022-01-25 05:01] #141 closed

[2022-01-25 15:40] nknox opened #178 "AB remove records"
Hi Scott,
Our AB partners have requested the removal of the following records.

Thanks,
Natalie

[data.to.remove-20220125.txt](https://github.com/cancogen-virus-seq/portal/files/7934926/data.to.remove-20220125.txt)

[2022-01-25 21:49] lindaxiang commented on #178
@nknox @scottcain
The samples in the above list have been suppressed from the portal.
Here is the log:
[ABPL-AB.suppression.log](https://github.com/cancogen-virus-seq/portal/files/7937438/ABPL-AB.suppression.log)

[2022-01-26 20:36] #178 closed

[2022-01-26 20:50] scottcain opened #179 "metadata selection dropdown ignored for downloads"
When downloading data from the explorer, even though "Submission Date" is selected in the "Columns" drop down (and is, I believe, selected by default), that column is not included in the generated metadata.  This appears to be the case whether the whole data set or a slice of the data is downloaded.  Here are the column headers for the metadata file when I haven't changed the defaults:
[code]
Note

[2022-01-26 21:01] scottcain commented on #179
Guessing this is an Arranger issue, and so am initially assigning to @joneubank

[2022-02-02 15:36] nknox opened #180 "API connectivity issue"
Hi there,
I'm no longer able to submit sequences through the API since the downtime. Here's the message I receive:

`API Server problem (check API URL?): ConnectionError(MaxRetryError("HTTPSConnectionPool(host='muse.dev.cancogen.cancercollaboratory.org', port=443): Max retries exceeded with url: /submissions (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7efc6092b22

[2022-02-03 03:31] nknox commented on #180
Issue seems to be resolved now.

[2022-02-03 07:56] scottcain commented on #180
Glad to hear it; I’m going to keep this open and “ask around” to see if it’s anything that should be addressed. I’ll start with @jaserud

[2022-02-03 14:16] nithujohn opened #181 "PHO duplicates in the portal"
@scottcain Hi Scott, there are duplicates in the portal. Can you please have a look and also let me know whether they are same samples or different samples. Thanks!

[2022-02-03 14:17] nithujohn commented on #181
![image](https://user-images.githubusercontent.com/85367999/152360141-d76990af-2a6d-44f6-8790-320d7626b160.png)

[2022-02-03 16:05] scottcain commented on #181
@lindaxiang can you take a look at this please?

[2022-02-03 16:09] jaserud commented on #180
I noticed the URL is to our dev cluster "muse.**dev**.cancogen.cancercollaboratory.org". I'm not sure if you have access to that URL as it is not publicly available, but we were having some intermittent DEV cluster issues yesterday. Some services were in and out through out the day on our dev cluster.

[2022-02-03 17:29] scottcain commented on #180
Makes sense, closing.

[2022-02-03 17:29] #180 closed

[2022-02-03 17:41] scottcain opened #182 "Elastic search and the exact counts on the main page"
Hi @joneubank (guessing you're a good person to start with on this), during a cancogen call last week, we discussed the coming 200,000 sequence limit for ES buckets to give live updates on the main page for files and genomes. Lincoln's suggestion was that we replace the "live calculated" number on the main page with a cached value so that there isn't a delay in the display. Since the values are up

[2022-02-03 17:42] scottcain commented on #182
Marked as critical since the 200,000 limit is approaching quickly.

[2022-02-03 17:55] joneubank commented on #182
Caching on the home page is a good idea, we wouldn't want a delay on that.

For the count displayed in the explore... increasing the limit entails risk of both longer loads and eventually errors on requests from running out of memory on ES, but when that happens I can't predict. If everyone is comfortable with this then we can increase it again until we see performance issues. Adding caching to th

[2022-02-03 18:19] scottcain commented on #182
Right--when a curator adds more sequence, there will need to be a way to mark the cache as stale so that the next load of the main page would trigger recalculating it, and it is reasonable to have the curators do that as part of their load process (either by convention or by having the load page redirect to the main page?)

[2022-02-03 18:28] joneubank commented on #182
Another point to mention, is we can use a different approach called Composite Aggregations to calculate the total count... it might be a bit slower but is meant to be more memory efficient for ES. https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html

A Composite Aggregation query will provide a paginated response that lets us page th

[2022-02-03 22:20] lindaxiang commented on #181
@scottcain @nithujohn The duplicated submitted samples have been suppressed from the portal. Please have a check.
Attached is the sample and analysis which have been suppressed.
[PHO-ON.duplicated-analysis.txt](https://github.com/cancogen-virus-seq/portal/files/7998646/PHO-ON.duplicated-analysis.txt)

[2022-02-03 22:35] scottcain commented on #181
@nithujohn please close this issue after you confirm! Thanks

[2022-02-03 22:47] nithujohn commented on #181
Hi @lindaxiang were they different sample with same IDs?

[2022-02-03 23:50] anwarMZ commented on #159
@scottcain any update on this ? We have added Surveillance report feature too see [an example file for Omicron](https://github.com/cidgoh/nf-ncov-voc/blob/master/docs/Omicron_surveillance_report.pdf)

[2022-02-08 19:08] ChanchalYa opened #183 "MB sample to be removed from the data portal (MB_1543)"
Manitoba sample- MB_1543 is required to be removed from the data portal as it is a duplicate of Sample- MB_1522.

[2022-02-08 21:26] scottcain opened #184 "Need to bump up ES bucket limit"
This related to https://github.com/cancogen-virus-seq/portal/issues/182

It is critical that the 200,000 elastic search limit be bumped up to 300,000 as soon as possible. There are submissions that number over 50,000 in the pipe to come soon.

[2022-02-10 14:39] #181 closed

[2022-02-14 17:58] #183 closed

[2022-02-14 18:02] scottcain commented on #184
Fixed--thanks @jaserud

[2022-02-14 18:02] #184 closed

[2022-02-14 18:08] scottcain commented on #182
Lincoln indicated last week that this issue is critical; while the first step was completed last week (thanks @jaserud ) and the bucket limit was increased, we need to implement a "simple" cache for the numbers on the main page (which can be reused for the initial page load of the explore page too, right?). Who can be tasked with this change?

[2022-02-15 04:04] scottcain commented on #179
Summarizing the conversation with @jaserud :

Plan is to modify the download template to include submission date and otherwise mirror the submission upload (which is what it does now). This will have a knock-on effect of including submission date in the "Downloads" page, since they use the same template, and this was already requested in https://github.com/cancogen-virus-seq/portal/issues/128.

Ad

[2022-02-15 04:14] scottcain opened #185 "update acknowledgment page to include more stuff"
Guillaume sent text to include in the acknowledgment page to use as the basis for making a dynamically generated page (no issue created for that) but since we don't yet have the dev time to devote to that project, he asked that we at least update the static page to include his text.  See the attached files
[Data_Portal_Contributors_2021-10-01.docx](https://github.com/cancogen-virus-seq/portal/file

[2022-02-15 21:09] nknox opened #187 "Broken connectivity to viral.ai"
Prior to the broken fibre issue a couple weeks ago, we were able to query the data portal through viral.ai. Now when trying to query the virusseq data portal through viral.ai, we get the following error:

`requests.exceptions.ConnectionError: HTTPSConnectionPool(host='ga4gh-service-registry.publisher.dnastack.com', port=443): Max retries exceeded with url: /services (Caused by NewConnectionError('

[2022-02-15 21:53] nithujohn opened #188 "Allow multiple tags for purpose of sequencing"
@scottcain As we discuss in the meeting for change of metadata schema to allow multiple tags in the Purpose of Sequencing column. Thanks!

[2022-02-16 20:27] mbarkley commented on #187
Hi @nknox, I was linked to this ticket by a colleague of yours. Am I correct in assuming that you encountered this error while using the Python library documented [here](https://docs.viral.ai/analysis/python-library/#installation)?

If that's the case, you are encountering a bug that was only recently exposed by some infrastructure changes made by my team. While there is no _new_ version with a fi

[2022-02-17 17:15] ChanchalYa opened #190 "AB records to be removed"
Hi @scottcain ,
These AB samples need to be removed from the Data Portal as these are contaminated samples related to Issues #118, #119.

Thanks,
Chanchal
[AB_data_to_remove.txt](https://github.com/cancogen-virus-seq/portal/files/8090716/AB_data_to_remove.txt)

[2022-02-17 18:07] ChanchalYa opened #191 "AB sample to be removed"
Hi @scottcain,

Could you please remove this AB sample- AB_296473 from the portal? This sample is a potential mixed infection sample.

Thanks,
Chanchal

[2022-02-17 19:39] scottcain commented on #188
This is a specific example of a broader question: in the Purpose of Sequencing field, some orgs have started putting more than one value here. We need to explore how to represent that in the data store and identify what other fields may require this (a member of the steering committee also mentioned that there are fields that they feel may need to allow multiple values).

[2022-02-17 20:01] scottcain commented on #188
Hi @nithujohn can you post an example input that has multiple values for Purpose of Sequencing, so we can figure out how to deal with it?  Thanks!

[2022-02-17 20:10] nithujohn commented on #188
Hi @scottcain one instance is Targeted surveillance (non-random sampling);Travel-associated surveillance, another example I have seen is Screening for Variants of Concern (VoC);Travel-associated surveillance and sometimes instead of Travel-associated surveillance it would be Cluster/Outbreak investigation.

[2022-02-17 20:19] scottcain commented on #188
Do you have an input file you could add to the issue so we can see how it's being represented?

[2022-02-17 20:33] nithujohn commented on #188
Hi @scottcain Please refer data harmonizer schema which already allows multiple tags https://github.com/cidgoh/DataHarmonizer/blob/master/template/canada_covid19/data.js

[2022-02-17 20:56] ChanchalYa opened #192 "PHO remove sample"
Hi there,
Our PHO partners have requested the removal of this sample- ON_337655 from the portal.

Thanks,
Chanchal

[2022-02-18 13:44] lindaxiang commented on #188
@scottcain If it requests to convert `Purpose of sequencing` from `string` type to `array of strings`,  I can make changes to the schema.
We will also need changes to ES mapping, Maestro and UI? @joneubank should have better idea.

[2022-02-18 16:04] lindaxiang commented on #191
@ChanchalYa @scottcain This has been addressed and following is the log:
[code]

[2022-02-18 19:08] lindaxiang commented on #192
@ChanchalYa @scottcain The above sample has been removed from the portal.
[code]

[2022-02-18 21:07] nithujohn opened #194 "Lag in Data Release Page"
Hi @scottcain there is a lag in the data release page as the last release is on Feb 10th. Please have a look, thanks!
![image](https://user-images.githubusercontent.com/85367999/154761268-f01c114b-75fb-4dad-a1c5-356da7a84c1d.png)

[2022-02-18 21:32] scottcain opened #195 "Downloads page not updating"
The last update on the downloads page is from Feb 10 with 184232 sample.  The current number of samples reported on the main page is 188201. Please find the errant process and give it a kick!

[2022-02-18 22:15] jaserud commented on #195
The service was stuck with an error (logs pasted below). The error indicates that for some reason service ran out of connections to make to our object storage. Most likely problem, the services isn't releasing old connections so the connection pool is exhausted. It has been running for 16 days with no restarts.
[code]

[2022-02-22 17:34] #194 closed

[2022-02-22 18:27] #192 closed

[2022-02-22 18:28] #191 closed

[2022-02-22 18:28] #190 closed

[2022-02-22 18:53] scottcain commented on #187
@nknox can you verify that the suggested fix from @mbarkley worked for you? Thanks!

[2022-02-22 21:04] nknox commented on #187
It works - thank you!

[2022-02-22 21:21] scottcain opened #196 "Ability to search in explorer for a specific sequence id went away"
will add more info soon

[2022-02-22 21:21] #187 closed

[2022-02-22 21:36] scottcain opened #197 "explore adding patient and specimin id"
more data

[2022-02-22 22:43] nknox commented on #187
Sorry - may have to reopen this issue. It seems like it's only pulling a subset of the records. I can't grab all records. @mbarkley  can you confirm that nothing else is going on?

[2022-02-23 18:44] mbarkley commented on #187
@nknox My apologies, but that older version has a bug that I thought was patched. Our team has just pushed a new release that has fixes for the original problem your reported, and the bug that doesn't fetch all results. It has a slight change in the return type of the query method, but here is code I have successfully run myself that you can try with version `1.0.2`:
[code]

[2022-02-24 23:21] nithujohn opened #198 "Upload status of the samples"
Hi @scottcain, I have attached few samples which got stuck during the upload. I would like to know the status of these samples, are they uploaded in the portal or needs to re- upload. Thanks!
[Errors.xlsx](https://github.com/cancogen-virus-seq/portal/files/8137182/Errors.xlsx)

[2022-02-24 23:24] ChanchalYa opened #199 "Sample collection dates to be updated- AB"
Hi there,
Could you please update the sample collection dates for the list of samples attached?

Thanks,
Chanchal
[AB_sample_Collection_dates_to_Update_DP.csv](https://github.com/cancogen-virus-seq/portal/files/8137191/AB_sample_Collection_dates_to_Update_DP.csv)

@scottcain

[2022-02-25 17:39] ChanchalYa opened #200 "Sample collection dates to be updated-BC"
Hi there,

Could you please update the sample collection dates for the list of BC samples attached?

Thanks,
Chanchal
[BC_sample_Collection_Dates_to_be_Updated_DP.csv](https://github.com/cancogen-virus-seq/portal/files/8143130/BC_sample_Collection_Dates_to_be_Updated_DP.csv)

[2022-02-28 16:42] scottcain commented on #198
@jaserud Can you please take a look at this list of samples? I suspect the answer is to just upload them again, but I'd like to have your confirmation on that.

[2022-02-28 17:23] jaserud commented on #198
These upload rows exists in the portal:
[code]
The rest need to be resubmitted.

[2022-02-28 17:42] nithujohn opened #202 "Internal server error"
Hi @scottcain, After resuming the uploads I started getting internal server error. Also have a quick question is there a number limit for per province as I don't see the limit increasing for BC (100K) on the portal ?

BC_9672 |   | ERROR:500 INTERNAL_SERVER_ERROR - SongScore - Internal Server Error
 BC_9670 |   | ERROR:500 INTERNAL_SERVER_ERROR - SongScore - Internal Server Error
BC_9671 |   | ERR

[2022-02-28 17:46] nithujohn commented on #198
Thanks! @jaserud @scottcain

[2022-02-28 17:46] #198 closed

[2022-02-28 21:24] scottcain commented on #202
@nithujohn There are no messages in our server logs, so it could be just that SONG was overloaded at the time and throwing these errors. Can you try again with those sequences?

[2022-02-28 21:52] nithujohn commented on #202
@scottcain yea it worked this time. Thanks!

[2022-02-28 21:52] #202 closed

[2022-03-01 19:03] nithujohn opened #205 "Update metadata schema (Purpose of sequencing)"
Hi @scottcain there is a new tag for the field "Purpose of sequencing" I have included below. Can you please update the schema? Thanks!

"Retrospective sequencing"

[2022-03-01 19:16] scottcain commented on #205
Hi @lindaxiang Can you please add this to your list?

[2022-03-01 22:12] lindaxiang commented on #205
@nithujohn @scottcain  this has been updated. Please give a try. Thanks.

[2022-03-01 22:33] nithujohn commented on #205
@lindaxiang @scottcain Thank you so much!

[2022-03-01 22:33] #205 closed

[2022-03-02 01:14] lindaxiang commented on #200
@ChanchalYa @scottcain This has been addressed. Please have a check.
Attached please find the log file.
[BC_sample_Collection_Dates_to_be_Updated_DP.log](https://github.com/cancogen-virus-seq/portal/files/8165787/BC_sample_Collection_Dates_to_be_Updated_DP.log)

[2022-03-02 01:17] lindaxiang commented on #199
@ChanchalYa , the `datas_to_update` in the above file are the current `sample collection date` in the portal, are you sure you want to update them?

[2022-03-02 01:30] scottcain commented on #154
To allowing sorting/searching by lineage, we have to get that data into the data store. Natalie Knox provided us with the attached csv file with IDs and lineage assignments, though it was pointed out that we may be able to get this info directly from viral.ai via API call
[dp_lineage_join.csv.gz](https://github.com/cancogen-virus-seq/portal/files/8165857/dp_lineage_join.csv.gz)
.

[2022-03-02 19:24] scottcain opened #208 "Improve download dialog boxes"
Currently, the explorer download dialog box says "Download complete" when the creation of the download tarball is complete (but before the actual download to the users computer is necessarily complete):

<img width="1198" alt="Screen Shot 2022-03-02 at 9 25 32 AM" src="https://user-images.githubusercontent.com/274751/156433621-63875dd8-5f00-4e8b-a3cf-71aa4e6f7f1f.png">

@b-f-chan suggested that th

[2022-03-02 20:25] ChanchalYa commented on #199
Hi @lindaxiang it seems there is just one sample in this list (AB_47550) that needs its sample collection date to be updated as VirusSeq has it different than what I have in the file that I have provided.

Thank you,
Chanchal

[2022-03-03 13:41] b-f-chan commented on #179
Changes implemented, deployed & tested successfully in production.  @scottcain please close ticket if satisfactory, thanks!

[2022-03-03 13:46] b-f-chan opened #209 "Cache Summary Counts on Homepage"
Splitting this out as sub-task of #182

To improve loading time and responsiveness to the user when displaying the summary counts (# Files, # Viral Genomes, #S tudies, # GB) on the homepage (https://virusseq-dataportal.ca/), we will implement server-side caching of the counts.  The portal will retrieve & display values served up from the cache.

The cache should have invalidation logic to update i

[2022-03-03 13:59] b-f-chan opened #210 "Implement Cardinality Aggregation on Exploration Page"
Splitting this out as sub-task of #182, to distinguish work required on the Homepage vs the Exploration page.

Calculating the summary counts on the Exploration page using the current logic will eventually hit a resource (memory) in Elasticsearch and cause an error on the page, as the # of files and viral genomes increases.  We cannot continuously increase the ES search.max_buckets limit, as it is

[2022-03-03 14:06] kcullion commented on #210
@b-f-chan I prefer `~246,269` (if you can put the commas in there, great)...but yeah, I think ~ does the trick

[2022-03-03 14:13] b-f-chan commented on #210
Thanks @kcullion - Hehe I think the commas are definitely doable :) - And we should!  I'll ask @jaserud to do this on the homepage as well

[2022-03-04 15:10] jaserud commented on #210
Slight hickup, Cardinality Aggregations are actually never guaranteed to be exact.
From es docs: "counts are expected to be close to accurate".

The new flow is:
- config in portal for QUERY_MAX_BUCKET_COUNTS, which will be a integer less than the ES_CLUSTER_MAX_BUCKETS (e.g. ES_CLUSTER_MAX_BUCKETS=65,000 : MAX_BUCKET_COUNTS=50,000).
- the default query will be for cardinality and logic will be

[2022-03-07 20:19] nithujohn opened #211 "PHO duplicate IDs"
Hi @scottcain There are duplicates in the recent upload of PHO datasets. Please have a look and suppress the duplicates. Thanks!

[2022-03-07 21:05] nithujohn commented on #211
@scottcain I downloaded the datasets and found that it's the same specimen collector ID but different sample. When you suppress the duplicate IDs please do let me know so I can ask NML to re-assign new IDs for those samples

[2022-03-08 17:09] #200 closed

[2022-03-08 17:11] ChanchalYa opened #212 "Metadata updates- NS"
Hi there,

Could you please update the Purpose of sequencing, gene name and diagnostic pcr ctv values for the list of NS samples attached? We received these updates from the partners.
[NS_DP_Updates_20220308.csv](https://github.com/cancogen-virus-seq/portal/files/8208208/NS_DP_Updates_20220308.csv)

Thanks,
Chanchal

[2022-03-09 23:59] lindaxiang commented on #211
@nithujohn there are 2090 duplicates which have been removed from the portal.

Here is the metadata for suppressed samples which were all submitted on Mar.07
[PHO-ON.remove-2090.2022-03-09.metadata.txt](https://github.com/cancogen-virus-seq/portal/files/8219025/PHO-ON.remove-2090.2022-03-09.metadata.txt)

[2022-03-10 00:16] nithujohn commented on #211
Thanks Linda! @lindaxiang

[2022-03-10 00:16] #211 closed

[2022-03-11 14:46] #179 closed

[2022-03-11 17:20] ChanchalYa opened #216 "Samples to remove- PHO"
Hi there,

Could you please remove these 2 PHO samples from the portal--> ON_335318, ON_337891.

Thanks,
Chanchal
@scottcain

[2022-03-11 20:56] ChanchalYa opened #217 "Metadata updates for PHO samples"
Hi there @scottcain ,

Could you please make the metadata updates highlighted in the xlsx files for some PHO samples in VirusSeq? Our partners have provided these updates and would like them to be updated in VirusSeq.

Thanks,
Chanchal
[DP_updates_PHO_20220311.xlsx](https://github.com/cancogen-virus-seq/portal/files/8235641/DP_updates_PHO_20220311.xlsx)

[2022-03-14 13:04] b-f-chan commented on #154
@scottcain do you mean filtering by lineage in the Exploration Page?  I assume this is what you mean by `sorting/searching`?

[2022-03-14 13:50] b-f-chan commented on #153
@scottcain we need more details on this:

(1) Are you talking about download from Exploration page, or the Release page, or both?

(2) If you're talking about the Exploration page, when you say "Select All" metadata columns, do you mean all columns from the results table?  If so, I do not understand the requirement, because the TSV already includes all (and actually more than) the columns displaye

[2022-03-15 16:55] lindaxiang commented on #212
The samples have been updated on the portal. Here attached the log file.
[NSHA-NS.DP_update.log](https://github.com/cancogen-virus-seq/portal/files/8255544/NSHA-NS.DP_update.log)

[2022-03-15 16:59] lindaxiang commented on #216
@ChanchalYa @scottcain The samples have been removed.
[PHO-ON.remove.2_samples.txt](https://github.com/cancogen-virus-seq/portal/files/8255578/PHO-ON.remove.2_samples.txt)

[2022-03-15 17:01] lindaxiang commented on #217
@ChanchalYa @scottcain The samples have been update on the portal.
[PHO-ON.DP_update.log](https://github.com/cancogen-virus-seq/portal/files/8255586/PHO-ON.DP_update.log)

[2022-03-15 19:08] ChanchalYa opened #218 "Metadata updates- NB"
Hi there @scottcain ,

Could you please apply the highlighted metadata updates in the attached excel sheets (NB_01,NB_02,NB_03) to the NB data in the portal?

Thank you,
Chanchal
[Updates_for_DataPortal_20220315.xlsx](https://github.com/cancogen-virus-seq/portal/files/8256402/Updates_for_DataPortal_20220315.xlsx)

[2022-03-15 19:09] ChanchalYa commented on #217
Thanks so much @lindaxiang.

[2022-03-15 19:09] #217 closed

[2022-03-15 19:09] #216 closed

[2022-03-15 19:10] #212 closed, assigned to lindaxiang

[2022-03-16 21:28] nithujohn commented on #188
Hi @scottcain has this been addressed as I will be getting samples with multiple tags for dp uploads. Thanks!

[2022-03-17 12:40] b-f-chan commented on #208
Tested successfully on DEV:

- Correct message displays when prepping tar
- Correct message displays once tar ready and download triggered via browser

Ready for deploy to prod

[2022-03-17 12:44] b-f-chan commented on #209
Tested on Dev - Solution implemented, but difficult to perceive speed increase/benefits due to small amount of data on Dev.  However, it will be difficult for us to load the same amount of data as prod into Dev and may not be worth the time.  We can test this more thoroughly in Prod and do a quick rollback in case of any major issues.

[2022-03-17 12:52] b-f-chan commented on #210
Tested new flow as described by @jaserud above successfully on Dev:

- When CARDINALITY < QUERY_MAX_BUCKET_COUNTS, exact count shown and number displayed without `~`
- When CARDINALITY >= QUERY_MAX_BUCKET_COUNTS, approximation shown and number displayed with `~`

However, difficult to test/assess speed increase/benefits since there is a much smaller amount of data in Dev vs Prod.  It will be diffi

[2022-03-21 18:51] nithujohn opened #221 "Data standard blurb"
@scottcain Please find the data standard blurb to be included under Policies section

"As data needs change over time, the data standard implemented by the Data Portal evolves (additional fields and terms may be added, requirements may be updated, etc). This may alter the database schema as well as the types of information provided by data stewards. For more information, please contact Dr. Emma Gr

[2022-03-22 14:57] lindaxiang commented on #218
@ChanchalYa @scottcain The NB metadata have been updated on the portal. Here is the log file:
[VHN-NB.update.log](https://github.com/cancogen-virus-seq/portal/files/8325405/VHN-NB.update.log)

[2022-03-22 15:10] ChanchalYa commented on #218
Thanks very much @lindaxiang @scottcain !

[2022-03-22 15:10] #218 closed

[2022-03-25 14:21] b-f-chan commented on #188
@nithujohn - This has not been addressed yet, we will schedule it into an upcoming sprint.  Just to confirm, the JSON you sent us is the latest and most up-to-date with the controlled values for `purpose of sequencing`, correct?  Thanks!

[2022-03-25 14:29] b-f-chan commented on #188
@nithujohn @scottcain - Does this change need to be applied only moving forward / prospectively for new samples?  Or do we need to retrospectively go back in time and correct all existing samples to have array values?  If the latter, then a migration is required and this becomes more effort/complex.

[2022-03-25 14:50] b-f-chan commented on #188
Sorry I spoke too soon @nithujohn @scottcain - This may not be as simple as first thought.  Especially if we need to show multiple values in a row cell in the UI.  This requires a change to our Arranger component which has impacts to the way we design and style our UI.  I would want more time to investigate this, especially because we are in the middle of a re-write of our Arranger component.  I n

[2022-03-25 15:34] nithujohn commented on #188
@b-f-chan This change needsa to be applied only for new samples as this was a recent change the data providers has request.

[2022-03-29 12:59] b-f-chan opened #222 "Investigate: Improve Design to Handle Large Downloads"
The issue regarding failed downloads for large sets will require more analysis and effort.  The issue is the platform as a whole (particularly singularity) was not  designed to handle such large data sets (we had to stand this platform up in about 6 weeks and back then we weren’t even sure we would get much data; of course things have changed in the past year).

So to do this properly, a re-archit

[2022-03-29 13:28] b-f-chan opened #223 "Make Verbiage Edits to Portal"
Several verbiage edits need to be made to the Portal

(1) At bottom of homepage (https://virusseq-dataportal.ca/), box about COVID Cloud should be updated to:

"Genome Canada has partnered with DNAstack to share [VirusSeq data on Viral AI](https://viral.ai/collections/virusseq/overview), a federated network for genomic variant surveillance and infectious disease research. Viral AI was designed to

[2022-03-29 15:21] nithujohn commented on #221
@b-f-chan Hi Brandon,  yep I mean somewhere at this link but I would like to suggest to put the section after Data users guidelines. Thanks!

[2022-03-29 16:16] nithujohn opened #224 "PHO duplicate"
@scottcain There is one duplicate with the recent PHO upload. Can you please have a look and suppress the duplicate sample. Thanks!

[2022-03-29 18:30] nithujohn commented on #224
Looks like was an error on the dp showing two different numbers in files and genomes. Now it shows the same number for both genome and files

[2022-03-29 18:30] #224 closed

[2022-03-29 18:31] caravinci opened #225 "Improve visualisation of totals"
The way we display numbers in the "totals" panel requires avoidable cognitive effort to assert their order of magnitude.
In Arranger, the counts are displayed with the appropriate punctuation. This ticket is to replicate that functionality here.

![image](https://user-images.githubusercontent.com/2107110/160680517-a286a5c7-c0e4-4466-ba43-b0d8b80a113c.png)

[2022-03-29 19:19] caravinci commented on #225
Tagging @b-f-chan for visibility.

[2022-03-29 21:00] nithujohn commented on #188
[test.txt](https://github.com/cancogen-virus-seq/portal/files/8375000/test.txt)
Example for multiple tag for purpose of sequencing

[2022-03-30 12:52] b-f-chan commented on #225
This appears in two specific places that need changing:

- Stats bar on homepage
- Stats bar on exploration page

Make consistent with aggregations in facet panel by adding comma when magnitude enters each additional power of 10^3

[2022-03-30 13:05] b-f-chan commented on #223
COVID Cloud logo also needs replacing, see attached:

![viral ai](https://user-images.githubusercontent.com/40768946/160841163-6f8535aa-6347-49ab-9300-9dae65b17290.png)

[2022-03-30 14:45] b-f-chan commented on #221
Thanks @nithujohn, will add as new sub-section

[2022-03-30 14:54] b-f-chan commented on #221
I've made the update @nithujohn, once I incorporate other verbiage changes from other stakeholders, we'll send you a screenshot from a test environment to confirm before we deploy to prod

[2022-04-04 19:15] scottcain commented on #223
Got a thumbs up from Christine, so closing this

[2022-04-04 19:15] #223 closed

[2022-04-04 19:18] scottcain commented on #221
Implemented in production: https://virusseq-dataportal.ca/policies

[2022-04-04 19:18] #221 closed

[2022-04-04 19:20] scottcain commented on #209
Works in production; closing

[2022-04-04 19:20] #209 closed

[2022-04-04 19:21] scottcain commented on #210
Works in production, closing

[2022-04-04 19:21] #210 closed

[2022-04-04 19:22] scottcain commented on #185
In production, closing

[2022-04-04 19:22] #185 closed

[2022-04-04 19:23] scottcain commented on #182
#209 and #210 have been implemented and are in production, closing

[2022-04-04 19:23] #182 closed

[2022-04-06 23:06] nithujohn commented on #188
@scottcain Got a new request to allow multiple tag for the column "anatomical part" to include multiple samples collected at the sites. Thanks!

[2022-04-08 16:46] nithujohn opened #233 "QC samples to remove"
@scottcain Hi Scott, I got a request from QC to remove 56 samples from the data portal. Please find the attached doc. Thanks!
[GISAID_DB_removal.txt](https://github.com/cancogen-virus-seq/portal/files/8453924/GISAID_DB_removal.txt)

[2022-04-08 20:01] nithujohn opened #234 "Upate metadata schema (sample collected by)"
@scottcain Hi Scott, I have included new lab names to add to the metadata schema for the field "sample collected by". Thanks!

"Switch Health"
"LifeLabs"

[2022-04-11 20:10] lindaxiang commented on #234
@scottcain @nithujohn the schema has been updated.

[2022-04-11 20:16] lindaxiang commented on #233
@scottcain @nithujohn
55 out of 56 total samples have been removed from the portal. Here is the log.
[LSPQ-QC.55_samples.remove.txt](https://github.com/cancogen-virus-seq/portal/files/8467421/LSPQ-QC.55_samples.remove.txt)

FYI the following sample was not found in the current portal:
[code]

[2022-04-11 20:29] nithujohn commented on #234
@lindaxiang Thank you!

[2022-04-11 20:29] #234 closed

[2022-04-11 20:56] scottcain opened #235 "Improvements for SONG"
From @lindaxiang: with the growing number of analysis for each project, the time which spent on getting the song analysis becomes a blocker. As the current song api endpoint does not support pagination, it kept timing out and took almost half day just to get back the song analysis (34k analysis) for a given study like LSPQ-QC. Any plan when we will get Alexis’s song performance improvement into Vi

[2022-04-12 20:22] scottcain opened #236 "Change to xz compression for downloads"
https://en.wikipedia.org/wiki/XZ_Utils

xz is achieves much better compression. This change can take place along with https://github.com/cancogen-virus-seq/portal/issues/126 (splitting metadata and fasta)

Thanks to Art for the suggestion.

[2022-04-12 21:40] nithujohn opened #237 "Incorrect Gender"
@scottcain Hi Scott, I have included a sample which has gender error in the portal and included the correct gender. Thanks!

Lab Name  GISAID ID  Current gender in portal Correct gender

Manitoba_Cadham_Provincial_Laboratory  EPI_ISL_2495421 Male  Female

[2022-04-20 19:58] ChanchalYa opened #238 "Metadata update- QC"
Hi there @scottcain ,

Could you please update the Isolate name for a QC sample (QC_342812) to hCoV-19/Canada/QC-L00430089001/2022 ?

Thanks,
Chanchal

[2022-04-22 14:56] lindaxiang commented on #238
@ChanchalYa @scottcain  , I can change the isolate name to `hCoV-19/Canada/QC-L00430089001/2022`,
however FYI,
the "fasta_header_name" will still be "hCoV-19/Canada/QC-L00430089001/2021", because that needs to be the same ID in the fasta file, is that okay for you?

Otherwise if you want to make `isolate` and `fasta_header_name` consistent, we need to remove the sample and its fasta data, and you

[2022-04-22 14:56] lindaxiang commented on #237
@scottcain @nithujohn this has been addressed. Thanks.

[2022-04-22 15:27] nithujohn commented on #237
@lindaxiang Thank you!!

[2022-04-22 15:27] #237 closed

[2022-04-22 19:12] ChanchalYa commented on #238
Hi @lindaxiang ,

Thank you for this information. Could you please remove this sample from the portal? I am going to re-submit the modified tsv and fasta files for this particular sample to Nithu for the upload.

Thanks,
Chanchal

[2022-04-25 16:03] ChanchalYa commented on #238
Thanks very much @lindaxiang . Nithu has re-submitted the sample.

[2022-04-25 16:03] #238 closed

[2022-04-28 19:05] ChanchalYa opened #239 "Sample to be removed-PHO"
Hi there @scottcain ,

Could you please remove this PHO sample- ON_2960 from the portal? This is a duplicate of another PHO sample (ON_367213).

Thanks,
Chanchal

[2022-04-28 21:09] lindaxiang commented on #239
@ChanchalYa @scottcain this sample (analysisId: 48b25207-4018-4470-b252-074018f47006) has been removed from the portal.

[2022-04-29 12:30] ChanchalYa commented on #239
Thanks very much, @lindaxiang

[2022-04-29 12:30] #239 closed

[2022-05-02 14:08] ChanchalYa opened #240 "Metadata updates- QC"
Hi there @scottcain ,

Could you please update the "sequencing protocol" for the list of QC samples attached here? Our partners have provided these updates.

Thanks,
Chanchal
[QC_Metadata_updates_20220502.csv](https://github.com/cancogen-virus-seq/portal/files/8603410/QC_Metadata_updates_20220502.csv)
l

[2022-05-02 14:46] ChanchalYa opened #241 "Samples to be removed- QC"
Hi @scottcain ,

Could you please remove the QC samples- QC_70619, QC_287867,QC_287865 from the portal? There are some duplicate virus name issues related to these samples.

Thanks,
Chanchal

[2022-05-02 19:27] ArtPoon commented on #241
We just detected a duplicate entry as well: `QC-1nDJXQ-2036201174A`
Documented at https://github.com/CoVaRR-NET/duotang/issues/45

[2022-05-03 16:03] ChanchalYa opened #242 "Metadata updates- PHO"
Hi @scottcain ,

Could you please update the host age bin in the portal for these PHO samples? Our partners have provided these updates.

Thanks,
Chanchal
[PHO_HostAgeBin_updates_20220503.csv](https://github.com/cancogen-virus-seq/portal/files/8611848/PHO_HostAgeBin_updates_20220503.csv)

[2022-05-03 16:27] nithujohn opened #243 "Internal server error"
Hi @scottcain, while uploading the samples in to the portal one of the sample resulted in internal server error. Can you please have a look and let me know that I have to re-upload the sample? Thanks!

![image](https://user-images.githubusercontent.com/85367999/166496032-69ea5e4e-b740-4a1c-ba93-d11a58de3a1a.png)

PHO-ON | ON_401255 | e90cc52a-83e2-426f-8cc5-2a83e2526f69 | ERROR:Internal server err

[2022-05-03 16:40] scottcain commented on #243
That looks not great; @jaserud can you take a look?

[2022-05-03 17:29] ChanchalYa opened #244 "Metadata updates- QC"
Hi @scottcain ,

Could you please update the sample collection date for these QC samples? Our partners have provided these updates.

Thanks,
Chanchal

[QC_SampleCollectionDateUpdates_20220503.csv](https://github.com/cancogen-virus-seq/portal/files/8612435/QC_SampleCollectionDateUpdates_20220503.csv)

[2022-05-04 20:40] lindaxiang commented on #241
@scottcain @ChanchalYa @ArtPoon the above samples have been removed from portal.
Here is the log file:
[QC_remove.samples.log](https://github.com/cancogen-virus-seq/portal/files/8627044/QC_remove.samples.log)

[2022-05-04 20:49] lindaxiang commented on #240
@scottcain @ChanchalYa The above samples have been updated. To be noted, only 1439 samples got updated because the other 1282 samples already have the same values as what are in the file.
Here is the log:
[LSPQ-QC.update_sequencing_protocol.log](https://github.com/cancogen-virus-seq/portal/files/8627079/LSPQ-QC.update_sequencing_protocol.log)

[2022-05-04 20:50] lindaxiang commented on #244
@scottcain @ChanchalYa The above samples have been updated.
Here is the log:
[LSPQ-QC.update_sample_collection_date.log](https://github.com/cancogen-virus-seq/portal/files/8627104/LSPQ-QC.update_sample_collection_date.log)

[2022-05-04 20:51] lindaxiang commented on #242
@scottcain @ChanchalYa The above samples have been updated.
Here is the log:
[PHO-ON.migrate_consensus_sequence.log](https://github.com/cancogen-virus-seq/portal/files/8627105/PHO-ON.migrate_consensus_sequence.log)

[2022-05-04 22:43] nithujohn opened #245 "Metadata update (sample collected by)"
Hi @scottcain there is a new tag for the field "sample collected by" I have included below. Can you please update the schema? Thanks!

"Shared Hospital Laboratory"

[2022-05-05 23:44] scottcain commented on #245
This is something you can do, righ @lindaxiang ?  Thanks.

[2022-05-06 00:18] scottcain commented on #243
@nithujohn we checked the server and there was no error message in the log, but that sequence didn't make it into the data store, so it needs to be re-uploaded.

[2022-05-06 15:33] nithujohn commented on #243
Hi @scottcain I re- uploaded the sample. Thanks!
![image](https://user-images.githubusercontent.com/85367999/167165032-3e86bc0f-4057-492b-ab5d-bfcb549732b8.png)

[2022-05-06 15:33] #243 closed

[2022-05-09 21:43] scottcain commented on #154
This also (I feel like obviously, but perhaps not) includes importing lineage data.

[2022-05-09 21:46] scottcain commented on #208
This was deployed some time ago; closing ...

[2022-05-09 21:46] #208 closed

[2022-05-10 18:40] lindaxiang commented on #245
The tag has been added. @scottcain @nithujohn

[2022-05-10 18:58] nithujohn commented on #245
Thanks @lindaxiang

[2022-05-10 18:58] #245 closed

[2022-05-10 21:01] scottcain opened #246 "User interface updates"
During the call today, we discussed multiple user interface updates that are needed to add new items. These include:

* moving the "CanCOGen" part of the logo down to by the Genome Canada logo (to free up horizontal space near the menu and to deemphasize CanCOGen since it's no longer a funder).
* adding a Tools menu item, which would have on it links to tools hosted at VirusSeq (like explore and C

[2022-05-10 21:28] ChanchalYa opened #247 "metadata updates- NML"
Hi @scottcain ,

Could you please update the list of samples attached here for "specimen collector sample ID", "geo_loc_name (country)", "geo_loc_name (state/province/territory)", "isolate" columns?

Thanks,
Chanchal

[samples_to_update_VirusSeq_20220510.xlsx](https://github.com/cancogen-virus-seq/portal/files/8665108/samples_to_update_VirusSeq_20220510.xlsx)
l

[2022-05-10 21:28] ChanchalYa commented on #244
Thanks @lindaxiang !

[2022-05-10 21:28] #244 closed

[2022-05-10 21:29] ChanchalYa commented on #242
Thanks @lindaxiang !

[2022-05-10 21:29] #242 closed

[2022-05-10 21:29] ChanchalYa commented on #240
Thanks @lindaxiang !

[2022-05-10 21:29] #240 closed

[2022-05-10 21:29] ChanchalYa commented on #241
Thanks @lindaxiang !

[2022-05-10 21:29] #241 closed

[2022-05-11 17:59] GH-Emily opened #248 "Sample Removal - QC"
Hi @scottcain

Could you please remove the QC sample:

QC_287870

isolate: hCoV-19/Canada/QC-1nDJXQ-2036201249A/2020

We suspect the metadata does not belong with the sequence.

Thank you!

[2022-05-13 20:11] ChanchalYa opened #249 "Metadata updates- AB"
Hi there @scottcain ,

Could you please update the AB samples in the list here for their GISAID accessions?

Thanks,
Chanchal
[VirusSeq_metadata_updates_20220513.csv](https://github.com/cancogen-virus-seq/portal/files/8691048/VirusSeq_metadata_updates_20220513.csv)

[2022-05-16 21:20] GH-Emily opened #250 "Metadata Updates - QC"
Hi @scottcain

Apologies, rather large request to update the purpose of sequencing for a selection of QC samples.

[2022-05-16_QC_RFS_DP_updateRequest.csv](https://github.com/cancogen-virus-seq/portal/files/8703494/2022-05-16_QC_RFS_DP_updateRequest.csv)

Thanks,
Emily

[2022-05-17 15:11] Mach-2 opened #251 "Metadata Updates - NB"
Hi @scottcain

I have a few samples from NB that require an update for their collection dates. I'm attaching the file here.

[NB-collection-date-update-request.csv](https://github.com/cancogen-virus-seq/portal/files/8709427/NB-collection-date-update-request.csv)

Thank you!
Madison

[2022-05-17 16:04] ChanchalYa opened #252 "Metadata updates- PHO"
Hi there @scottcain,

Could you please update VirusSeq for the attached list of metadata updates for PHO? Our partners have provided these updates.

Thanks,
Chanchal
[PHO_metadata_updates_VirusSeq_20220517.csv](https://github.com/cancogen-virus-seq/portal/files/8709835/PHO_metadata_updates_VirusSeq_20220517.csv)

[2022-05-17 20:09] GH-Emily opened #253 "Metadata Updates - QC"
Hi @scottcain

Further updates for Quebec samples for the purpose of sampling field. These samples were excluded from the previous update because they are special case situations in our database.

[2022-05-17_QC_RFS_updatesDP2.csv](https://github.com/cancogen-virus-seq/portal/files/8711263/2022-05-17_QC_RFS_updatesDP2.csv)
[2022-05-17_QC_RFS_updatesDP3.csv](https://github.com/cancogen-virus-seq/po

[2022-05-19 16:24] nithujohn opened #254 "Data Release Page not Updating"
Hi @scottcain, it looks like the data release page is not updating for a while (since May 6th). Please have a look. Also the front page is partially updating. Thanks!
![image](https://user-images.githubusercontent.com/85367999/169350290-f89960c2-282d-4710-bde1-19d614d9e28e.png)

[2022-05-19 16:32] scottcain commented on #222
This issue is exactly the one that is causing the data release builds to fail, which is why I bumped it up to critical.  As a work around for the time being, the only way to get "complete" data dumps from the portal is to use the explorer and download distinct "chunks", keeping each of the chunks at around 100k sequences or less. I've achieved this using the Study ID filter to select BC, then ON a

[2022-05-19 16:38] scottcain commented on #254
I just wrote a comment on https://github.com/cancogen-virus-seq/portal/issues/222 This is a critical bug that is being addressed now but unfortunately is not an easy fix.

[2022-05-19 16:45] nithujohn opened #255 "Samples got stuck during uploads"
Hi @scottcain, I waas uploading border sequences samples which got stuck inbetween the uploads. I have attached an excel sheet with samples under processing and Queued. Please let me know I need to re- upload those samples. Thanks!
[Border sequences.xlsx](https://github.com/cancogen-virus-seq/portal/files/8732252/Border.sequences.xlsx)

[2022-05-19 17:46] lindaxiang commented on #249
@ChanchalYa , there are 5 samples in the above table do not provide Gisaid ID, can you clarify if you want to update these samples' Gisaid ID to be `Null`?

[2022-05-19 18:22] lindaxiang commented on #251
@scottcain @Mach-2 Just did a quick check, the samples' `sample collection date` currently on the portal are the same with what you want to update. Can you confirm that?

[2022-05-19 21:40] nithujohn commented on #255
Looks like some error as when re- uploaded there was no error!
![image](https://user-images.githubusercontent.com/85367999/169409118-5a27ad48-e89e-412d-8eed-0a48d27e04e6.png)
![image](https://user-images.githubusercontent.com/85367999/169409160-40268a91-15f2-4569-9192-2b2ecc43c03a.png)

[2022-05-19 21:40] #255 closed

[2022-05-19 21:44] lindaxiang commented on #248
@scottcain @GH-Emily the above sample is removed.
analysisId: a8feb55a-f9b9-40d6-beb5-5af9b9c0d6fe

[2022-05-19 21:55] lindaxiang commented on #252
@scottcain @ChanchalYa the above samples have been updated on the portal.
[PHO_metadata_updates_VirusSeq_20220517.log](https://github.com/cancogen-virus-seq/portal/files/8734419/PHO_metadata_updates_VirusSeq_20220517.log)

[2022-05-19 23:48] lindaxiang commented on #253
@GH-Emily @scottcain
Here are the logs for the above samples (other than sample `QC_21870`, which is not currently existing on the portal)
[2022-05-17_QC_RFS_updatesDP2.log](https://github.com/cancogen-virus-seq/portal/files/8732348/2022-05-17_QC_RFS_updatesDP2.log)
[2022-05-17_QC_RFS_updatesDP3.log](https://github.com/cancogen-virus-seq/portal/files/8732350/2022-05-17_QC_RFS_updatesDP3.log)

[2022-05-19 23:49] lindaxiang commented on #250
@GH-Emily @scottcain
Here is the log for update all the above samples(other than sample `QC_292280` which is not currently existing on the portal):
[2022-05-16_QC_RFS_DP_updateRequest.log](https://github.com/cancogen-virus-seq/portal/files/8732322/2022-05-16_QC_RFS_DP_updateRequest.log)

[2022-05-20 18:23] ChanchalYa commented on #249
Hi @lindaxiang ,
Yes, please update them to `NULL` as those samples are not in GISAID.

Thanks.

[2022-05-25 15:39] ChanchalYa commented on #252
Thanks @lindaxiang!

[2022-05-25 15:39] #252 closed

[2022-05-25 16:22] #248 closed

[2022-05-25 16:30] #253 closed

[2022-05-25 19:17] ChanchalYa commented on #247
Hi again @scottcain @lindaxiang ,

Once you have applied the updates from samples_to_update_VirusSeq_20220520.xlsx in the comment above, could you please update the `isolate` and `fasta header name` using this attached file? I have sent the fasta sequences with updated headers to Nithu.

Thanks so much,
Chanchal
[virusseq_updates_20220525.csv](https://github.com/cancogen-virus-seq/portal/files/877

[2022-05-25 20:33] Mach-2 commented on #251
@lindaxiang Thanks for checking! Looks like no update is required, these are the correct values.

[2022-05-25 20:34] scottcain commented on #251
@lindaxiang I think the collection dates in the csv file are one day off from what is currently in the data store. For example, NB_249265 in the data store has a collection date of 2021-11-04, but in @Mach-2 csv file, the same sample has a collection date of 2021-11-05. Checking a few more on the list show the same pattern.

[2022-05-25 20:35] scottcain commented on #251
LOL. If @Mach-2 says it's good, it's good :-)

[2022-05-25 20:42] Mach-2 commented on #251
Sorry @scottcain, looks like I spoke too soon. I saw @lindaxiang's message that the dates were the same, but didn't check for myself. I just checked the data portal and it does look like there is a one day difference after all. Could these dates please be updated to what is in the attached file?

Apologies for the confusion!

[2022-05-25 22:12] lindaxiang commented on #247
@scottcain @ChanchalYa
 These updates are to change the `submitter_sample_id` and `fasta_header_name` . For these cases, it’s not purely payloads updating tasks, and it will need fasta file re-uploading as well. So I would suggest:
- I can suppress all the requested samples from portal
- the user will need to re-submit the correct metadata and fasta files.

[2022-05-26 14:59] ChanchalYa commented on #247
Hi @lindaxiang ,
Please go ahead and suppress all the samples with study id `COVID-CAN` and Submission date of `2022-05-06` , there is a total of 2325 samples. I will re-submit the metadata and fasta files to Nithu today.

Thank you very much,
Chanchal

[2022-05-26 15:27] ChanchalYa opened #256 "Metadata updates- border"
Hi @scottcain,

Could you please update these border samples for `Purpose of sampling` ?

Thank you very much,
Chanchal
[VirusSeq_update_POS_20220526.xlsx](https://github.com/cancogen-virus-seq/portal/files/8780118/VirusSeq_update_POS_20220526.xlsx)

[2022-05-30 15:49] lindaxiang commented on #247
@ChanchalYa Can you confirm all the 2325 samples in the attached table are to be suppressed?
[COVID-CAN.to-remove.specimen_collector_sample_ID.txt](https://github.com/cancogen-virus-seq/portal/files/8799551/COVID-CAN.to-remove.specimen_collector_sample_ID.txt)

[2022-05-30 15:57] ChanchalYa commented on #247
Hi @lindaxiang ,

Yes, please suppress these samples. I have sent the modified metadata and fasta seqs for these samples to Nithu already that she can submit once the current samples in VirusSEQ have been suppressed.

Thanks,
Chanchal

[2022-05-30 17:53] lindaxiang commented on #247
@ChanchalYa the samples in the above list have been suppressed from the portal. Here is the log file.
[to_remove.sample_analysis.txt](https://github.com/cancogen-virus-seq/portal/files/8799850/to_remove.sample_analysis.txt)

[2022-05-30 17:55] ChanchalYa commented on #247
Thanks very much @lindaxiang !

[2022-05-30 17:55] #247 closed

[2022-05-31 13:25] b-f-chan commented on #251
Need to investigate first on our side, as we realized the sample collection date on VirusSeq platform has one day offset from the user-provided date.  Seems this has been true since Day 0 of the platform - But we need to investigate.  VirusSeq date is one day offset earlier/before the user-provided date.

[2022-06-02 17:48] GH-Emily opened #257 "Sample Removal - QC"
Hi Scott,

Could you please remove record QC_287872? We are concerned the wrong metadata (including incorrect GISAID information)
may be attached to this sample.

Thanks!
Emily

[2022-06-03 16:01] #225 closed

[2022-06-03 19:29] b-f-chan commented on #257
Assign to @lindaxiang - Are you able to remove records or was this something Jaser used to do?

[2022-06-03 19:30] b-f-chan commented on #254
Assign to @UmmulkiramR to investigate - There is currently a limit to the download size due to one of the libraries we are using in the Singularity code, I think @joneubank first suggestion was to investigate that library and see if there is something else out there we can use (please connect with him for details)

[2022-06-03 19:44] b-f-chan commented on #222
Assigned to @sifavahora to investigate and discuss options with DEV team

[2022-06-03 19:45] b-f-chan commented on #256
@lindaxiang could you please take a first crack at this?

[2022-06-03 19:48] b-f-chan commented on #235
@sifavahora @UmmulkiramR couple suggestions:

(1) We should definitely upgrade to the latest SONG with pagination features before starting the work package features
(2) We should also audit the versions of other Overture components to see if any upgrade needed; feel free to create separate ticket and also consult Jon/Justin on this

[2022-06-03 19:52] b-f-chan commented on #148
@sifavahora - As discussed, let's follow-up with @lindaxiang as to the nature of this issue and if it's still valid, I don't have the context/history for this one

[2022-06-03 19:55] b-f-chan commented on #158
Need an announcements/features area that can be updated via manual config or dynamically, similar to ARGO

I would categorize this as low priority

[2022-06-03 19:59] b-f-chan commented on #147
Could be something @UmmulkiramR can check out and re-confirm this issue still occurs, and find a fix from there

[2022-06-03 20:04] b-f-chan commented on #246
Addressing in order, all good ideas:

(1) Moving CanCOGen part of logo is possible, would need some help from @kcullion for re-design
(2) @kcullion can advise on this and suggest a proper layout which we can review with steerco
(3) @kcullion can also advise on this and we'll review with steerco
(4) Can be done, need to decide what replacement is (possibly Tools or Analysis once that's implemented)

[2022-06-03 20:08] nithujohn opened #258 "Samples not Processing while uploads"
Hi @scottcain, currently doing a bulk upload from BC (28K) and after 4 sets of upload (1034 each set) the data portal is not processing the samples they are shown as "QUEUED". I have included the data submission ID and snap shots. Thanks!

Data Submission: 86f10e77-70ec-4168-bff8-dfe93c904c51
Data Submission: 828bccae-9315-45ec-bc4a-5d95513fab1c
Data Submission: 6dab75e4-fdca-4bef-a0a4-d1e6f2ee4f8

[2022-06-03 20:13] b-f-chan commented on #236
Good suggestion, thanks @scottcain, we can consider this, but need you to indicate priority as there's a lot of other stuff to fix

@sifavahora --> Would be good to get @joneubank opinion on this also

[2022-06-03 20:15] b-f-chan commented on #197
@scottcain - Need a few more details :) - Do you mean adding these fields to the UI?  The metadata download?  Both?  Or maybe other :)

[2022-06-03 20:19] b-f-chan commented on #196
@scottcain - Do you mean that there used to be a Sequence ID search box in the Filters on the Explore page?  I personally have never seen that, but that can be implemented if required.  Again, need to know the priority.

[2022-06-03 20:22] b-f-chan commented on #160
This is part of the new work packages, we will need to spec out and implement

[2022-06-03 20:24] b-f-chan commented on #154
This is part of the new work packages, we will need to analyze the new data and how it impacts our data model & mappings.  Assigning to @sifavahora for analysis and specs as required.

[2022-06-03 20:28] b-f-chan commented on #150
This is a great feature suggestion that would offload time from our Bioinfo team and also empower the submitters

However, it is technically not included in the scope of the work packages and could be a medium effort feature (needs UI design & implementation, and hookup to some of our endpoints potentially)

So @scottcain we should review this along with the other work package priorities; maybe st

[2022-06-03 20:30] b-f-chan commented on #131
This is part of the new work packages we've committed to, will need some requirements analysis and minor spec, assigning to @sifavahora

[2022-06-03 20:36] caravinci commented on #196
TBH, I don't recall that specific facet filter being available, but I'm confident we're able to add it if needed.

[2022-06-05 02:47] scottcain commented on #258
Hi @nithujohn ,

I'm going to be out of the office for most of this week (I might be checking email in the evening but I won't guarantee it!). I've asked one of our developers to take a look on Monday. I forgot to ask you about letting us know when you get a big batch that you're going to load so we can watch our system in real time to see what it's doing.  Maybe next time!

[2022-06-05 03:02] scottcain commented on #196
Yeah, it was somewhat vague when it was discussed during the call (as you can tell from my oh-so-helpful initial message), but perhaps @nithujohn could add some more details.

[2022-06-05 03:05] scottcain commented on #197
Yeah, basically, one of the PIs suggested that this might be something we may need "the near future" but was otherwise pretty vague. My guess at the moment is that this isn't going to go anywhere.

[2022-06-05 03:09] scottcain commented on #236
While it would save space in storage when we create downloads, and save users time when downloading, I'm not sure it is necessarily be something we should spend a lot of time on. If perhaps it could be done "easily" along with fixing the current download issues, that would be a nice to have. Otherwise it can wait for later (as will splitting the metadata from the fasta a la #126

[2022-06-05 03:12] scottcain commented on #176
I thought I already closed this one--closing now.

[2022-06-05 03:12] #176 closed

[2022-06-06 15:41] nithujohn commented on #196
The filter was available initially but I don't remember when it actually disappeared. I have attached screen shot please have a look
![pic1](https://user-images.githubusercontent.com/85367999/172195467-6c4ae83b-3aad-4a7d-94f8-6ed60293f7d1.png)

[2022-06-06 15:45] sifavahora commented on #196
thanks @nithujohn for confirming! @caravinci can you please take a look.

[2022-06-06 21:22] b-f-chan commented on #128
@scottcain - Can you confirm if this can be closed?  The related closed ticket that you mentioned (#179), seems to actually fix this issue, we also just re-tested this in prod today.  Specifically, the Submitted Data is now clearly in the downloaded TSV of the metadata.  Can you please close if applicable?

[2022-06-06 21:24] b-f-chan commented on #105
Let's confirm if this still applies in prod --> May be hard to reproduce, could possibly just continue monitoring.  Will allow @sifavahora to determine with team best course of action.

[2022-06-06 21:28] b-f-chan commented on #101
@sifavahora - To follow-up with @caravinci if this is testable in a dev/QA environment and the status of it

[2022-06-06 21:38] b-f-chan commented on #188
@sifavahora - We will need to find out the priority of this from @scottcain first and also whether we want to change Arranger at this point for it, so will need input from @caravinci and @joneubank

[2022-06-06 21:41] b-f-chan commented on #155
@scottcain can you please clarify and prioritize this requirement?  What do you mean by binning by vaccination status?  In our terminology, binning is done on numerical values, for example, Host Age Bin is binned into bins of size 10 years.  As far as I know, vaccination status is an enumerated list (e.g. Not Vaccinated, Partially Vaccinated, Fully Vaccinated, etc)

[2022-06-06 21:43] b-f-chan commented on #153
@scottcain - Can you please help us answer the above?

[2022-06-06 21:45] b-f-chan commented on #158
Related to #48 - @sifavahora please determine if there is duplication with #48 and whether we just need one ticket vs two

[2022-06-06 21:45] b-f-chan commented on #48
Related to #158 - @sifavahora please determine if there is duplication with #158 and whether we just need one ticket vs two

[2022-06-06 21:49] b-f-chan commented on #22
My opinion is this is a large feature and requires some re-write of the submission process as well as a change in the business process itself.  I don't think this is in the scope of the 3 new work packages.  We'll confirm with @scottcain however, but this is our strong recommendation

[2022-06-06 21:54] nithujohn commented on #258
thanks @scottcain let me know if I can continue with the uploads and do I have to re- upload the three sets queued.

[2022-06-07 14:58] sifavahora commented on #188
Had a quick discussion with @caravinci. It is medium effort and doable. We can discuss in detail once we have the priority determined.

[2022-06-07 15:05] sifavahora commented on #101
@caravinci advised that we have made the changes to the acknowledgement text recently - this is an older ticket. need to confirm with @scottcain if we still need this.

[2022-06-08 16:00] sifavahora opened #259 "Sample Collected date is one day offset earlier/before the user-provided date"
We need the portal to display the same sample collected date as uploaded in the files.
Initial investigation suggests possible issue in the display on the `arranger` while converting raw string to date. (the services consider the local timezone and hence the difference)

related ticket - cancogen-virus-seq/portal#251

[2022-06-08 16:11] sifavahora opened #260 "Check Pending upgrades for services throughout the components of the architecture"
As we resume work on this portal, it would be a good first step to identify and then update(after discussion with the team) any/all services/component for a smoother development and debugging experience.

[2022-06-08 16:13] sifavahora commented on #260
@UmmulkiramR to list the pending upgrades

[2022-06-08 16:27] sifavahora commented on #196
@scottcain The team investigated and determined that the reason to remove this was for performance issues as it shows  ~50327 entries and bad ux, we can replace the field as an autocomplete search field, not a checkbox list as a later enhancement.  We need to determine the priority for this.

[2022-06-08 16:45] joneubank commented on #258
We investigated the available logs and are not able to see what stopped the uploads and put them into the Queued state... It looks however like when this happens a restart of Muse should clear out the queue and then we can re-upload the samples.

It would if next time this happens (if it happens again) we can quickly check for what errors are causing this state. For now, I would monitor for this b

[2022-06-08 16:49] nithujohn commented on #258
@joneubank I am currently uploading the samples but one of the set Queued again when I re- uploaded. After an hour I have re- strated the upload and it worked. I am have included the data submission ID below. Thanks!
4ea964fa-19f0-4606-bd7e-15d0dde651f5

[2022-06-08 18:27] nithujohn commented on #258
After uploading 6 sets the same issue has been seen!

Data Submission: e76c6ff6-a059-4c97-8107-13d4b9efe5e2
![image](https://user-images.githubusercontent.com/85367999/172690148-7e92b485-af43-4265-93b8-9028061d1e9b.png)

[2022-06-08 18:39] joneubank commented on #258
@nithujohn thanks for letting us know, we are investigating right now

[2022-06-08 21:54] nithujohn commented on #258
Looks like after 4 or 6 sets the data portal shows similar issue.

Data Submission: 28929c3a-fa43-4f00-b9d4-373ffd27f8b6
![image](https://user-images.githubusercontent.com/85367999/172724149-c3266ae4-39ab-4815-8762-b298602de556.png)

[2022-06-09 14:46] b-f-chan opened #261 "Upgrade to Latest CoVizu Version"
CoVizu has released a new version with significant performance improvements that we should consider upgrading to.

@samrichca has done a preliminary analysis and there may be several sub-tasks we need to take to support this new version.  Some further investigation is also required (@samrichca please do paste your findings here as well if needed).

**Specifically to consider:**

-  (1) The master

[2022-06-09 15:53] sifavahora commented on #48
I see the acknowledgements link/button in the banner already but that contradicts with https://github.com/cancogen-virus-seq/portal/issues/246. need to confirm what needs to be done.

[2022-06-09 15:54] sifavahora commented on #158
Not a duplicate.

[2022-06-09 16:13] sifavahora commented on #105
likely same as #258

[2022-06-09 16:30] sifavahora commented on #165
@lindaxiang can this be closed?

[2022-06-09 18:55] nithujohn opened #262 "Suppress duplicate IDs (BC uploads)"
Hi @scottcain, I have attached a file with duplicate IDs, please suppress the IDs from the portal. Thanks!
[Duplicate IDS BC.xlsx](https://github.com/cancogen-virus-seq/portal/files/8873529/Duplicate.IDS.BC.xlsx)

[2022-06-13 15:09] lindaxiang commented on #165
@sifavahora The list of all analysisId which were affected are attached here in the ticket. The ticket itself can be regarded as complete, so it can be closed.
It's up to your and stakeholders' decision whether we need to create follow up ticket to systematically correct them.

[2022-06-13 17:02] lindaxiang commented on #256
@b-f-chan @sifavahora @ChanchalYa The samples have been updated as request.
Here is the log:
[VirusSeq_update_POS_20220526.log](https://github.com/cancogen-virus-seq/portal/files/8893077/VirusSeq_update_POS_20220526.log)

[2022-06-14 13:39] sifavahora opened #263 "Integration of Lineage data in the Explorer"
Part of Work Package 1
Requirements from the Proposal:
1. Integration of lineage information in collaboration with NML.
2. Faceted search for records containing VoCs.
3. Faceted search for records corresponding to lineage(s) of interest.
4. Support for both lineage tree designations and WHO Greek designations.
--> additional metadata/labeling for each sequence, (E.g. Which lineage tree the sequenc

[2022-06-14 14:11] sifavahora commented on #257
Thanks @lindaxiang  :) . @GH-Emily can you please confirm that the ticket can be closed?

[2022-06-14 14:15] sifavahora commented on #256
Thanks @lindaxiang :)  @ChanchalYa can you please confirm the issue can be closed?

[2022-06-14 14:24] sifavahora commented on #251
@lindaxiang can these dates please be updated. thanks.

[2022-06-14 14:37] sifavahora commented on #251
Not a data issue, Its the display issue while converting string to data format. Closing this issue as have created another ticket to address this https://github.com/cancogen-virus-seq/portal/issues/259

[2022-06-14 14:37] #251 closed

[2022-06-14 15:29] sifavahora commented on #160
We have a endpoints available for this - https://muse.virusseq-dataportal.ca/swagger-ui/#/Muse/Submit.

Need to understand the exact requirements of the type of most recent data required so that API's can be added/updated to serve the requirements. (E.g get data for last week, for the a particular province etc)

Also need to make sure that the Authorization is available for the required users to c

[2022-06-14 20:24] ChanchalYa commented on #256
Thank you very much @lindaxiang!

[2022-06-14 20:24] #256 closed

[2022-06-14 20:41] sifavahora commented on #254
Debugging guidelines by Jaser - https://wiki.oicr.on.ca/display/OV/Fix+latest+release+data+not+being+created

[2022-06-15 17:57] joneubank commented on #126
Arranger has OOTB methods available for downloading data as a tsv. If all the meta data that is needed is in our search index (and I believe that to be the case) than this is strictly a UI change.

[2022-06-15 18:00] caravinci commented on #126
Indeed. This change happens on the DMS-UI side, and we'd need to add a new (custom) exporter in the "downloads" menu, with the appropriate parameters to call the downloads endpoint. not sure how tricky that'd be, but @joneubank is right: we can already do this.

[2022-06-15 18:49] joneubank commented on #154
This may repeat a bit of what was said above, but to summarize what this requires:

1. This data needs to be added to the ES index which means:
    1. Need to make sure we have this data for each sample already in our system and run a script to update the index with this data added
    2. Need to update our indexing to include this value with all future added samples, so we need to know where in t

[2022-06-15 18:56] joneubank commented on #160
All data available in the search is available through a GraphQL endpoint provided by arranger. Perhaps what is needed is a short document to be written to explain how to interact with this API since not everyone is familiar with GQL and the filter objects (SQON) used to query it are a syntax unique to Arranger.

PLACEHOLDER: will put the URL to the API here once I get the URL after the maintenance

[2022-06-15 19:01] joneubank commented on #254
Our dataset has grown to now be too large to build a single archive with the tools in our code base. We have theorized that the issue is based on the Java language limit on Array length (MAX_INTEGER which is 2^32 elements, approx 2Gb size limit) that is being overcome by our archive library when it converts the data to a byte array. This means that we will need to either find a new library that is

[2022-06-15 19:50] caravinci commented on #160
@joneubank the URL is `https://arranger.virusseq-dataportal.ca/<<"project" name>>/graphql`, where the current "project" in prod is `cancogen_sep23`

[2022-06-16 18:07] GH-Emily opened #264 "QC Duplicate Removal"
Hi Scott,

I'm wondering if your team could please remove the attached samples from the data portal? They were identified as duplicates by QC.

Thank you!

[2022-06-16_QC_redact_undersc_AB_dups_DP.csv](https://github.com/cancogen-virus-seq/portal/files/8921379/2022-06-16_QC_redact_undersc_AB_dups_DP.csv)

[2022-06-16 20:02] lindaxiang commented on #262
@nithujohn @scottcain @sifavahora the above 1028 duplicated submissions(submitted on 2022-06-09) are suppressed from the portal.
Here is the log:
[Duplicated_analysis.BC.remove.txt](https://github.com/cancogen-virus-seq/portal/files/8920477/Duplicated_analysis.BC.remove.txt)

[2022-06-16 20:28] nithujohn commented on #262
Thanks @lindaxiang

[2022-06-16 20:28] #262 closed

[2022-06-16 20:50] lindaxiang commented on #154
@scottcain took a look at the above example CSV file with lineage data. Do you have an idea
1. what is the difference between `lineage` and `lineage_current`?
2. it seems that `pangoLEARN_ver` is not usual version numbers
3. the data format(field names) are not the same fields which are defined in DataHarmonizer:
    "lineage_name",
    "lineage_analysis_software_name",
    "lineage_analysis_softw

[2022-06-17 02:50] scottcain opened #265 "Support for multiple tags for anatomical part"
From an email from @nithujohn:

I would like to discuss on the issue for multiple tags for anatomical part since April we have been receiving samples with multiple tags for anatomical part.

There is a suggestion from the team to include a new value for anatomical part called "Nasopharynx (NP); Oropharynx (OP)". Is that possible to implement it for now in the schema. Let me know if you have any qu

[2022-06-17 02:52] scottcain commented on #265
I think this would go along with the data fields that need to be expanded to allow multiple values.

[2022-06-17 04:18] b-f-chan commented on #258
Hi @nithujohn, as mentioned in the e-mail I sent today introducing Sifa Vahora (@sifavahora), she is our new VirusSeq Business Analyst and will help triage and communicate with you on such issues moving forward.

For this particular ticket, we do want to ask if you are able to continue working with this limitation while we try to determine and implement the correct fix.

As noted by @UmmulkiramR a

[2022-06-17 15:50] UmmulkiramR commented on #258
@b-f-chan @nithujohn, I did look up for the submission ids in the screenshots attached here and I noticed they have not gone through as they show QUEUED in the tables. However, the update I made above is also a problem which was earlier thought to be the same as what @nithujohn is facing. But this new finding shows the two are different.

For this issue, I can see from the records in the table tha

[2022-06-17 16:18] nithujohn commented on #258
@UmmulkiramR most of the sets when I re-tried had gone through successfully but two of the sets was not successful at the second try and I had to re- upload it a third time to be successful. I have included the submission IDs below for second unsuccessful submissions.

Data Submission: 4ea964fa-19f0-4606-bd7e-15d0dde651f5
Data Submission: bc1b8636-e9a7-4e18-8e1b-4d9ae136b51b

[2022-06-17 18:19] sifavahora commented on #160
We need more details on this request.
1. Who are the end users for this REST endpoint
2. What kind of data are we looking for here?
3.  What are the potential use cases for this?

[2022-06-17 22:01] UmmulkiramR commented on #258
@nithujohn Thanks. I'll have a look into them.

[2022-06-20 15:04] joneubank commented on #154
The virus seq analysis schema configured in SONG includes all these fields listed in the DataHarmonizer. This is under a property called `lineage_analysis` which is not required for an analysis.

So far, none of the uploaded analyses include data for lineage_analysis. This means that a one time process is needed to find the lineage data for each sample and to update the analyses in SONG.

Going fo

[2022-06-20 15:32] ChanchalYa opened #266 "metadata update- BC"
Hi there @scottcain ,

Could you please update the `purpose of sampling` to `Restricted Access` for the list of BC samples attached here?

Thank you,
Chanchal

[Metadata_update_BC_20220620.csv](https://github.com/cancogen-virus-seq/portal/files/8941921/Metadata_update_BC_20220620.csv)

[2022-06-20 20:43] GH-Emily opened #267 "Metadata Update - SK"
Hi Scott,

Looking to get the consensus sequence method version numbers updated after a click and drag error was identified.
[2022-06-20_Issue228_VirusSeq.csv](https://github.com/cancogen-virus-seq/portal/files/8943554/2022-06-20_Issue228_VirusSeq.csv)

some of these may not be in data portal

Emily

[2022-06-23 14:17] #148 closed

[2022-06-23 15:35] caravinci commented on #126
As requested, I'm adding a dropdown functionality to the `Download Dataset` button, in which you can now download the metadata for all files (or any individual rows selected in the table), aside from the existing metadata + fasta downloads.

![image.png](https://images.zenhubusercontent.com/5defce3f99bcf0b1b8a98d24/f95bfd38-5a00-4cb3-974c-6b87507d1bc3)

Bonus: to improve usability, I've fixed the

[2022-06-23 16:57] scottcain commented on #153
Yeah, I am pretty sure that this question came up as a result of both the user and me not being sure how the explorer page works. There is no "selected columns for download" since if a user downloads, they are getting every column/field. The user was confused by the fact that you can change the display to show or hide some columns but the downloads are not affected by those UI choices. This has be

[2022-06-23 16:57] #153 closed

[2022-06-23 18:01] #128 closed

[2022-06-23 18:09] sifavahora commented on #101
Doesn't look like its required at the moment. Closing for now. Can reopen if requested.

[2022-06-23 18:09] #101 closed

[2022-06-23 18:12] sifavahora commented on #48
closing for now.

[2022-06-23 18:12] #48 closed

[2022-06-23 20:09] sifavahora commented on #246
In reference with
`moving the "CanCOGen" part of the logo down to by the Genome Canada logo (to free up horizontal space near the menu and to deemphasize CanCOGen since it's no longer a funder).`

Kim identified that there are lot of references to CanCoGen on the portal. Do we want to remove or make changes around them also. Following is the list of places Cancogen reference exists currently:

1.

[2022-06-23 21:31] lindaxiang commented on #267
@GH-Emily , can you confirm that you only want to update the values in column `Consensus Sequence Method Version` for given `Virusseq ID`? What to do with the `Virus Name` column? Is it just for our information? Thanks

[2022-06-24 14:17] GH-Emily commented on #267
@lindaxiang sorry for the confusion. The virus names were just unnecessary information. An updated copy of the file is attached!

[2022-06-20_Issue228_VirusSeq.csv](https://github.com/cancogen-virus-seq/portal/files/8976814/2022-06-20_Issue228_VirusSeq.csv)

[2022-06-24 16:32] nithujohn opened #269 "Samples not indexing on the portal"
Hi @sifavahora, I did a small set of 236 samples in the morning and looks like none of them are indexed on the portal. I have attached an excel sheet with the submission ID and analysis ID. Thanks!

Data Submission: 6d48a639-a436-4816-810a-ee1c9162a9a4

[SK.xlsx](https://github.com/cancogen-virus-seq/portal/files/8977695/SK.xlsx)

![image](https://user-images.githubusercontent.com/85367999/1755804

[2022-06-24 18:50] sifavahora commented on #269
Hi @nithujohn. I see the 236 samples on the portal. Can you please tell me if I am missing something here?
![image](https://user-images.githubusercontent.com/30519419/175647107-838ca3ba-6ae2-43f2-b54f-2749f9c5cc86.png)

[2022-06-24 19:13] nithujohn commented on #269
Hi @sifavahora I can see now the 236 samples before it was not showing. Thanks!

[2022-06-24 19:13] #269 closed

[2022-06-27 13:36] sifavahora opened #270 "Add Appropriate error message for failed uploads for Submission Dashboard"
1. Display appropriate error message for failed upload. (On the specific submission Page, Screenshot added by Nithu)
2.  Highlight the failed uploads so that the users can identify them. (on the Submission Dashboard)
 ![image.png](https://images.zenhubusercontent.com/62963afc91a20472a00e6690/aa9ba7f4-e58d-46f2-a875-89e82c96fced)

[2022-06-27 13:38] sifavahora commented on #270
@nithujohn can you please upload a screenshot of the error message that you get currently? thanks

[2022-06-27 15:28] lindaxiang commented on #266
@sifavahora @ChanchalYa The field: `purpose of sampling` has been updated to `Restricted Access` for the list of above BC samples. Here is the log file:
[Metadata_update_BC_20220620.log](https://github.com/cancogen-virus-seq/portal/files/8993299/Metadata_update_BC_20220620.log)

[2022-06-27 15:32] nithujohn commented on #270
![image](https://user-images.githubusercontent.com/85367999/175977519-f38ae1cf-57e9-446f-b46b-077f75408100.png)

[2022-06-27 15:33] lindaxiang commented on #264
@GH-Emily @sifavahora The above 173 duplicated samples are removed from the portal.
FYI, two samples `QC_155589` and `QC_342915` are not found in the portal.
Here is the log file:
[2022-06-16_QC_redact_undersc_AB_dups_DP.remove_173.txt](https://github.com/cancogen-virus-seq/portal/files/8993348/2022-06-16_QC_redact_undersc_AB_dups_DP.remove_173.txt)

[2022-06-27 17:03] GH-Emily commented on #264
thank you all!

[2022-06-27 17:03] #264 closed

[2022-06-27 17:32] ChanchalYa commented on #266
Thanks so much @lindaxiang !

[2022-06-27 17:32] #266 closed

[2022-06-27 19:28] sifavahora opened #272 "Compress tsv file before download"
Currently, TSV file for the whole dataset is about 350 MB and is bound to grow.
Initial investigation by @caravinci show that the the tsv files can be compressed to a great extent. The tsv can be brought down to about 15-20% of original size. I think it will be great to have this addition to the system for a better User Experience.

[2022-06-27 19:42] sifavahora commented on #188
@joneubank advised the following steps:

1. Muse Processing - to accept and parse multiple values (in the sample file sent by Nithu, the delimiter is a semicolon)
2.Updating Schema in Song - Identify the syntax for changing value type to array of enum from enum
3.Updating Muse Configs (update the new song analysis value to Muse Configs)
4.Update Arranger Configs
5.Implement custom cell in Arranger

[2022-06-27 19:49] #126 closed

[2022-06-28 21:54] edsu7 commented on #267
`consensus_sequence_software_version` updated for `106/176` samples

As an example `088fcbc6-1e7b-4d89-8fcb-c61e7b9d8904`/`SK_282084` previously was :

`"consensus_sequence_software_version": "21.04.10"`
updated to
`"consensus_sequence_software_version": "21.04.0"`

[2022-06-29 16:10] sifavahora commented on #267
@GH-Emily can you please confirm and close the issue if applicable?

[2022-06-29 16:12] GH-Emily commented on #267
thank you!

[2022-06-29 16:12] #267 closed

[2022-06-29 18:22] caravinci opened #274 "Ensure column header formats match in metadata exports."
From Slack:
![image.png](https://images.zenhubusercontent.com/5defce3f99bcf0b1b8a98d24/996676fb-bd45-4ab6-adbb-d3e7967567fe)

We want the headers to be all lowercase, to match those produced by singularity; and `study_id`.
This entails customisation capabilities currently unsupported by Arranger (changing the titles shown in the TSV would also change it for the table and facets); so to that effect

[2022-06-29 21:03] caravinci commented on #236
After brief research on the subject, while `xz` is indeed a more effective compression method (in terms of resulting file size), all my findings seem to point at it being substantially slower, and much more resource intensive.

In practice, this would mean three things:
- users would have to wait painstakingly long times for a large download to even start (time that is already quite long as it is)

[2022-07-04 15:09] sifavahora opened #276 "Upload 40K Test Samples on Dev Portal"
We need massive data on the dev portal to test and troubleshoot production issues like bundles getting stuck in the building stage for huge dataset. We keep the target to upload 40 K samples as of now, we may need more later.

[2022-07-04 16:57] nithujohn opened #277 "MB duplicates in the portal"
Hi @sifavahora, I just uploaded an MB set which are duplicates in the portal. Can you please delete the duplicate IDs I have included below. Thanks!

[MB.xlsx](https://github.com/cancogen-virus-seq/portal/files/9041154/MB.xlsx)

[2022-07-04 20:54] edsu7 commented on #277
Done. 239 Analyses with the date `2022-07-04` have been suppressed.

Before (focusing only on MB_433327):
![before screenshot.png](https://images.zenhubusercontent.com/620bd7ddfcce5ea2de2e0d01/b4edcad0-8466-4780-bd26-262152c28bc4)

After:
![after screenshot.png](https://images.zenhubusercontent.com/620bd7ddfcce5ea2de2e0d01/b562f3e9-111f-420d-8c5e-42c0c56dfc68)

[2022-07-04 21:17] nithujohn commented on #277
Hi @edsu7 Thank you so much! Is there any issue with MB_433327 or you just would like to demonstrate that today's submission was deleted

[2022-07-05 13:13] edsu7 commented on #277
Just a demonstration (and sanity check for my own sake)

[2022-07-05 15:28] #277 closed

[2022-07-06 15:24] b-f-chan commented on #276
@edsu7 tried manual upload, ran for a day still didn't complete

Handed off to @caravinci and DevOps to resolve via direct upload method (instead of through portal)

[2022-07-07 17:12] sifavahora commented on #270
@nithujohn. We investigated on this on our end and we concluded that all the Data/format related errors display appropriate messages on the submission dashboard, only the server errors do not show detailed messages. Its a standard practice to not display server error details because the users cannot solve them on their end. To double check that we have covered all data/format related error can you

[2022-07-07 17:16] sifavahora commented on #270
Attaching a picture of submission portal where there is data/format error. The portal does display the error however it can be worded better for the users to understands.
![image.png](https://images.zenhubusercontent.com/62963afc91a20472a00e6690/0c4d33ad-8620-4c28-a9d1-089a4295c902)

[2022-07-07 17:17] sifavahora commented on #272
We have a request to change all compression to xz, we are putting this ticket on hold until we decide which compression we want implement for both bundles and tsv's.

[2022-07-07 17:19] sifavahora commented on #246
Waiting for mockups to be approved.

[2022-07-07 17:33] GH-Emily opened #278 "ON - Give samples New Specimen collector sample ID"
Hi  @scottcain

In order to solve an internal duplication issue, we need to assign the attached Ontario samples a new specimen collector sample ID. Our records indicate that samples:

ON_350535
ON_350550
ON_350560
ON_350551
ON_350567
ON_350556
ON_350553
ON_350566
ON_350542
ON_350547

are not in VirusSeq, but I have included them in the attached update file just in case our records are not up to da

[2022-07-07 17:39] scottcain commented on #278
Hi @GH-Emily I want to make sure I understand: you think we probably don't need to anything, but are giving us this list in case we do? Or, having now looked at the attached file, there are some samples that need a new specimen collector sample ID, but maybe not every sample in the file is in the VirusSeq data store, right?

[2022-07-07 17:40] nithujohn commented on #270
Hi @sifavahora Thank you so much for confirming. I have attached a list of latest IDs which showed internal server error at my end.
[DP errors.txt](https://github.com/cancogen-virus-seq/portal/files/9066124/DP.errors.txt)

[2022-07-08 18:44] sifavahora opened #279 "Provide isolated fasta downloading functionality"
We want to provide isolated fasta downloading functionality on the data release page.
The Release bundle will now provide fasta download only.

For Context:
This change is an attempt to fix the data release page not updating. #https://github.com/cancogen-virus-seq/portal/issues/254
blocker for release page: the tar library is reaching size limits so we want to eliminate bundling the fasta and tsv

[2022-07-11 14:47] sifavahora commented on #270
@UmmulkiramR can you please check the error logs and confirm they are system errors?

[2022-07-11 19:05] GH-Emily commented on #278
that list is correct, please suppress these samples.

[2022-07-11 19:31] edsu7 commented on #278
Done. The `65` analyses listed above have been suppressed.

[2022-07-11 20:03] GH-Emily commented on #278
thank you! we will re-submit soon.

[2022-07-11 20:03] #278 closed

[2022-07-11 20:38] nithujohn opened #280 "MB duplicates in the portal"
Hi @sifavahora, I have uploaded 321 samples from MB in the portal. But there was a glitch in the NML database which resulted in duplicates again. Apologies for the extra work!. I have attached the IDs to suppress from the portal. Thanks!
[MB.xlsx](https://github.com/cancogen-virus-seq/portal/files/9087409/MB.xlsx)

[2022-07-12 13:30] sifavahora commented on #280
@edsu7 can you please take a look? Thanks.

[2022-07-12 16:57] sifavahora opened #281 "File counts do not match on the home page and Explorer page"
![image (3)](https://user-images.githubusercontent.com/30519419/178549627-6fe45a8c-e824-410e-9905-b1beb8bbed0f.png)

It looks like the count on the homepage comes from a cached count on the server. Ideally the cache should refresh every time there is a new upload on the portal.

[2022-07-12 17:01] sifavahora commented on #281
Because the count comes from singularity https://github.com/cancogen-virus-seq/singularity/issues/38

[2022-07-12 17:41] edsu7 commented on #280
The latest analyses `(n=239)` of the above provided `submitterSpecimenIds` have been suppressed.

[code]

[2022-07-12 17:48] caravinci commented on #276
Methinks it's fair to say this ticket is done?

![image.png](https://images.zenhubusercontent.com/5defce3f99bcf0b1b8a98d24/c88527c1-dbad-410f-a2e4-1359fe608523
)

[2022-07-12 17:55] nithujohn commented on #280
Thank you @edsu7 @sifavahora

[2022-07-12 17:55] #280 closed, assigned to edsu7

[2022-07-12 18:36] justincorrigible opened #282 "Provide isolated Metadata downloading functionality"
We want to provide isolated Metadata downloading functionality on the data release page.
The Release "bundle" will now provide fasta download only, while a separate link will allow users to download the corresponding metadata files.

[2022-07-12 18:43] sifavahora commented on #254
We have a temporary fix for this Provide isolated fasta downloading functionality #279 and Change Tar library header properties for unstuck bundling issues #39

We will move this to prod in day or two.  Currently placing this ticket in backlog as we wait for a long term solution to this.

[2022-07-12 18:55] #276 closed

[2022-07-12 18:56] sifavahora commented on #276
It is.

[2022-07-12 19:34] GH-Emily opened #283 "SK - Sample redaction"
Hi @scottcain,

SK identified a mapping issue with the following samples. Could you please remove from VirusSeq?

SK_447565
SK_447568
SK_447569
SK_447571
SK_447558
SK_447545
SK_447549
SK_447546
SK_447547
SK_447576
SK_447556
SK_447574
SK_447575
SK_447557
SK_447561
SK_447578
SK_447580
SK_447548
SK_447597
SK_447550
SK_447586
SK_447577
SK_447600
SK_447553
SK_447608
SK_447583
SK_447579
SK_447610
SK_447

[2022-07-12 20:48] sifavahora opened #284 "Test Temporary Fix for Release Page (Providing Isolated fasta functionalities)"
We want to test the the temporary fix for Release Page.

Following are the steps:
Scenario 1: Sample upload to Download Release bundle (Entire cycle)
Scenario 2: Multiple random filters on explorer page to confirm the download fasta functionality.

Steps for Scenario 1:

1.  Log into https://portal.dev.cancogen.cancercollaboratory.org/
2.  Upload samples from https://github.com/cancogen-virus-seq/

[2022-07-12 21:27] ghost opened #285 "Display max selection error popup on the explorer page"
Currently the max limit for sample selection is 300000. We want the users to know that and hence display an error on the UI if the selection count is over the max limit (Disable the Download button until the error is resolved)

[2022-07-12 22:19] edsu7 commented on #283
The above `46` analyses have been suppressed.
[code]

[2022-07-12 22:28] sifavahora opened #286 "Change text on the Data Release Page"
![image](https://user-images.githubusercontent.com/30519419/178602142-773a6c31-b29d-4558-a0a6-b7e8c2746f2c.png)

We want to change this text to `Each row contains 2 files: a TSV file containing all submitted metadata as of that release date-time, as well as a FASTA file containing all the corresponding sequences.`

P.S: Because this a temporary fix we want make this change now and also be able to

[2022-07-13 11:55] UmmulkiramR commented on #254
@sifavahora J
Just to be clear -  as we have discussed, only the isolated fasta downloading functionality https://github.com/cancogen-virus-seq/portal/issues/279 would be moved to prod.

Code changes to resolve https://github.com/cancogen-virus-seq/singularity/issues/39 would be moved to testing once you give a go-ahead.

[2022-07-13 13:53] caravinci commented on #286
This ticket will also include the corresponding text change at `exploration`
![image.png](https://images.zenhubusercontent.com/5defce3f99bcf0b1b8a98d24/225b44a9-268d-47ba-adca-8d65b65d5dfb)

[2022-07-13 14:20] GH-Emily commented on #283
thank you!

[2022-07-13 14:20] #283 closed

[2022-07-13 14:28] sifavahora opened #287 "Download Dataset(fasta) fails intermittently on the Explorer Page"
the Download fails for larger selections over 60K. need more investigation.

[2022-07-13 19:49] ChanchalYa opened #288 "metadata update- MB"
Hi there @sifavahora ,

Could you please update the gisaid accession for this sample MB_161 to `EPI_ISL_1257938` ?

Thanks,
Chanchal

[2022-07-14 00:05] sifavahora commented on #246
We have the approval for the following

- moving the "CanCOGen" part of the logo down to by the Genome Canada logo (to free up horizontal space near the menu and to deemphasize CanCOGen since it's no longer a funder).
- adding a Tools menu item, which would have on it links to tools hosted at VirusSeq (like explore and CoViZu) as well as link outs to CovidMVP, ViralAI and Doutang.
- Perhaps moving

[2022-07-14 00:07] sifavahora commented on #282
moving this to backlog for now, we implemented the changing BIGNUMBER value for tar library

[2022-07-14 17:21] GH-Emily opened #289 "QC sample update and supression"
Hi @sifavahora,

Could you please remove:

QC_235020
QC_235155
QC_291764
QC_287168
QC_287169
QC_287170

And could you please update collection dates for:

ID | New collection date
-- | --
QC_138109 | 2021-04-09
QC_155981 | 2021-05-11
QC_139914 | 2021-05-19
QC_139915 | 2021-05-19

Thanks!

[2022-07-14 19:15] lindaxiang commented on #288
@ChanchalYa @sifavahora this has been addressed.

[2022-07-15 13:08] kcullion commented on #246
@caravinci
To answer your questions:
- you can export the logo from here: https://zpl.io/Pq53ANm (note, I don't have an svg of these logos so they are just pngs
- yes, I think just clicking on the logo will be going to the homepage. When the site launched there wasn't many sections so we just made the first link the about/homepage. But now it's confusing to have a link in the dropdown link to the

[2022-07-15 13:18] caravinci commented on #246
Thanks @kcullion!

[2022-07-18 13:18] sifavahora commented on #246
The link to Duotang is https://covarr-net.github.io/duotang/duotang.html

[2022-07-18 13:23] #274 closed

[2022-07-18 13:24] sifavahora commented on #279
There were more than one solutions to solve the data release bundle, we implement  https://app.zenhub.com/workspaces/cancogen-virus-seq-61d8aeee334b9200185d6283/issues/cancogen-virus-seq/singularity/39 so closing this for now.

[2022-07-18 13:31] #284 closed

[2022-07-18 13:51] #288 closed

[2022-07-18 14:50] UmmulkiramR commented on #270
@nithujohn Thank you for the list of IDs. I can see these are the analysis IDs for the submission 9a4c899d-924f-4176-b5b9-00868ab20aab made on 9th June.
I checked but could not find any logs for them. Would it be possible for you to send across IDs for a more recent submission that gave you the same error, something that is less than a month old?

[2022-07-18 15:37] nithujohn commented on #270
Hi @UmmulkiramR, all these internal errors popped up during the bulk upload of BC. But if I get these errors again I can let you know.  Thanks!

[2022-07-18 16:28] sifavahora commented on #154
The field cannot be required because it is computed at a later stage.

We need to pull the data from the Viral AI system for Lineage analysis.  The flow of data is as follows:
Current Flow:
1. Ext - Receive Sample dat
2. VirusSeq - Upload data on the portal (sample data without lineage information)
3. Ext (ViralAI) - Scrape the Data Release Page and ingest the latest release in their system.
4. Ex

[2022-07-18 17:10] sifavahora commented on #260
Song
Maestro
Singularity * - after multiple tags execution
Muse * -  after multiple tags execution

[2022-07-18 17:15] samrichca opened #290 "Investigate Covizu update"
- What changes need to be made?
- How do we create an API that will supply data?
- Level of effort?

[2022-07-18 18:20] nithujohn commented on #188
Hi @sifavahora I can confirm this and ; will be used as separator for multi tags.

[2022-07-19 12:50] b-f-chan commented on #290
@samrichca removing from ARGO sprint board, this should go on the VirusSeq Kanban, and you can attend VirusSeq standup as required - Thanks!

[2022-07-19 14:21] sifavahora commented on #289
Onhold, Until we get a confirmation from ViralAI to make changes to portal data.
Currently holdong off anything that triggers a release.

Also could be related to https://github.com/cancogen-virus-seq/portal/issues/259
please check with @caravinci

[2022-07-19 17:00] sifavahora commented on #286
irrevalent with the current fix of changing the BIGNUMBER value for Tar library

[2022-07-19 17:24] GH-Emily commented on #289
hi @sifavahora I believe these collection dates were off by a year, so wouldn't be a part of #259

[2022-07-19 17:37] sifavahora commented on #289
Thanks @GH-Emily for this information. We will check again and get back to you.

[2022-07-19 18:12] #290 closed

[2022-07-19 20:35] ChanchalYa opened #291 "sample to be removed- QC"
Hi there @sifavahora ,

Could you please remove this sample - `L00414320` from the portal? There is a duplicate of another sample.

Thank you,
Chanchal

[2022-07-20 13:42] sifavahora opened #292 "Schedule the Data Release to twice a week"
Currently the Portal create a new data release after every upload/delete/update to samples.
We want to schedule it to twice a week to avoid redundancy and be able to synch with other systems (ViralAI and Doutang)
Proposed schedule is: Monday and Thursdays 22:00 hrs EDT.

[2022-07-20 14:29] GH-Emily commented on #291
@sifavahora as part of the same issue that @ChanchalYa has described above, could you please also remove:

QC_287872
QC_287874

[2022-07-20 16:53] sifavahora commented on #291
Sure @GH-Emily. @edsu7  please consider Emily's comment when you take up the ticket.

[2022-07-20 16:54] sifavahora commented on #289
@GH-Emily you are right, sorry about missing that. We will do as requested.

[2022-07-20 17:55] edsu7 commented on #289
The following IDs have had their `sample_collection_date` changed:
[code]

As an example -
Previously:
[code]

Now:
[code]

[2022-07-20 17:57] edsu7 commented on #289
The following IDs have been suppressed:
[code]
As an example:
[code]

`QC_235020` was not associated with existing analyses

[2022-07-20 17:59] edsu7 commented on #291
The following IDs have been suppressed:
[code]

As an example:
[code]

[2022-07-20 19:01] GH-Emily commented on #289
thank you!

[2022-07-20 19:01] #289 closed, assigned to edsu7

[2022-07-20 20:29] ChanchalYa commented on #291
Thanks very much @sifavahora @edsu7 !

[2022-07-20 20:29] #291 closed

[2022-07-20 20:39] sifavahora commented on #254
We decided to use solution https://github.com/cancogen-virus-seq/singularity/issues/39 as that was the best.
This bug is resolved. However we are planning to redesign the page, Will capture requirements in subsequent tickets.
Closing this ticket.

[2022-07-20 20:39] #254 closed

[2022-07-21 20:35] nithujohn opened #293 "Samples got stuck during upload"
Hi @sifavahora, I did an upload of 304 samples (Border sequences) and 126 samples completed but some of them got stuck during upload. I have attached an excel sheet and let me know the samples need to re- upload.
#105 looks similar to this issue Thanks!

[BD.xlsx](https://github.com/cancogen-virus-seq/portal/files/9162624/BD.xlsx)
![image](https://user-images.githubusercontent.com/85367999/1808486

[2022-07-22 16:25] GH-Emily opened #294 "SK - Sample Removal"
@sifavahora

Please remove SK_447566 from the data portal. There is potential concern about the metadata and sequence linkage.

Emily

[2022-07-22 17:35] nithujohn commented on #293
Re- uploaded the samples today and it worked it!
![image](https://user-images.githubusercontent.com/85367999/180493800-9e34b251-1de7-4d03-85b0-0cc85de36b48.png)

[2022-07-25 13:12] sifavahora commented on #293
Hi @nithujohn, We will check this. Thanks for reporting.

[2022-07-25 14:53] sifavahora commented on #246
We want to change the blue buttons under the count:

1. Replace the `Meet the Team` button with `Download the Data` this button redirects to `Data Releases` Page
2. Remove/hide the `Acknowledgements` button. (Going forward we want a button `Analyze the Data` in its place.)

[2022-07-25 14:55] sifavahora commented on #246
![image](https://user-images.githubusercontent.com/30519419/180806989-199ad94c-d8d9-4aab-b076-67cb3bd09a9f.png)

We want to change the sentence to "The goal of the CanCOGeN VirusSeq project `was `to sequence up to 150,000 viral......"

[2022-07-25 15:26] sifavahora commented on #260
@caravinci  We want to upgrade Song and Maestro for now.

[2022-07-25 15:57] edsu7 commented on #294
`SK_447566` has been supressed.
[code]

[2022-07-25 20:30] sifavahora commented on #246
For Reference: this covers https://github.com/cancogen-virus-seq/portal/issues/159

[2022-07-26 02:29] scottcain opened #295 "Metadata download has epoch time for submission date"
When I download metadata from the explorer page, the submission date looks like `1643692916805` which I'm guessing is epoch time in milliseconds.  Obviously, this should be converted to a real datetime for download. I'll assign this to @UmmulkiramR but feel free to pass it around to whomever should get it.

[2022-07-26 14:22] sifavahora opened #296 "Setup the prerequisites for testing multiple tags for properties"
1. Do we need to change anything in the templates or harmonizer?
2. Have received a sample tsv with multiple tags for anatomical part, need to create a fasta for the same and confirm the template format.
3. Do we need anything else to test this?
[test_multi tags - Copy.tsv.txt](https://github.com/cancogen-virus-seq/portal/files/9190602/test_multi.tags.-.Copy.tsv.txt)

[2022-07-26 17:52] nithujohn commented on #258
@sifavahora @UmmulkiramR I tried to upload 1986 samples from BC and the samples are not processing at my end similar issue
Data Submission: db2adeac-a0ba-4384-be15-6fc08544ad51

![image](https://user-images.githubusercontent.com/85367999/181076748-2bbca369-314a-456f-83af-f324dd0b0b76.png)

[2022-07-26 20:32] edsu7 commented on #296
@lindaxiang could you sanity check this? Thanks
[test.fasta.gz](https://github.com/cancogen-virus-seq/portal/files/9193119/test.fasta.gz)

[2022-07-26 20:37] samrichca opened #297 "Update Covizu UI"
- apply changes provided by Covizu team
- apply our customizations from previous tickets, i.e. hiding the `(~10s)` loading message
- modify API hookup in upstream version:
  - point to our API
  - handle data version

[2022-07-27 13:31] sifavahora commented on #294
GH-Emily can you please close this if applicable? thanks.

[2022-07-27 14:05] GH-Emily commented on #294
thank you!

[2022-07-27 14:05] #294 closed

[2022-07-27 14:26] sifavahora opened #298 "Integrate backend changes for Multiple Tags in properties"

[2022-07-27 14:27] sifavahora commented on #298
https://github.com/cancogen-virus-seq/portal/issues/188

[2022-07-27 14:38] lindaxiang commented on #296
@sifavahora @edsu7 The fasta file looks good to me. For metadata file `test_multi tags - Copy.tsv.txt`, here are what I found:
1. `sample collection date` should have the format: "2022-05-01", I am not quite sure if Muse will do the format transformation? If it does, we are all good.
2. `host disease` has value of `COVID- 19`(has a space in between) instead of `COVID-19`, which will report errors